>>> ## mongodb with python

## <p> in this notebook we are covering all the mongodb method and operator implementation with in python </p>

In [ ]:
!pip install pymong[srv]         # for installation

In [2]:
import pymongo

In [3]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017')           # create connection

In [15]:
mydb=client['student']                  # create databse

In [16]:
colle=mydb.admission                    # create  collection

In [17]:
client.HOST

'localhost'

In [18]:
client.is_primary

True

In [19]:
client.PORT

27017

In [20]:
client.server_info()

{'version': '5.0.3',
 'gitVersion': '657fea5a61a74d7a79df7aff8e4bcf0bc742b748',
 'targetMinOS': 'Windows 7/Windows Server 2008 R2',
 'modules': [],
 'allocator': 'tcmalloc',
 'javascriptEngine': 'mozjs',
 'sysInfo': 'deprecated',
 'versionArray': [5, 0, 3, 0],
 'openssl': {'running': 'Windows SChannel'},
 'buildEnvironment': {'distmod': 'windows',
  'distarch': 'x86_64',
  'cc': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64',
  'ccflags': '/nologo /WX /FImongo/platform/basic.h /EHsc /W3 /wd4068 /wd4244 /wd4267 /wd4290 /wd4351 /wd4355 /wd4373 /wd4800 /wd4251 /wd4291 /we4013 /we4099 /we4930 /errorReport:none /MD /O2 /Oy- /bigobj /utf-8 /permissive- /Zc:__cplusplus /Zc:sizedDealloc /volatile:iso /diagnostics:caret /std:c++17 /Gw /Gy /Zc:inline',
  'cxx': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.26.28806 for x64',
  'cxxflags': '/TP',
  'linkflags': '/nologo /DEBUG /INCREMENTAL:NO /LARGEADDRESSAWARE /OPT:REF',
  'target_arch': 'x86_64',
  'target_os': 'windows',
  'cppdefines': 'SAFEINT_USE_INTRINSICS 0 PCRE_STATIC NDEBUG BOOST_ALL_NO_LIB _UNICODE UNICODE _SILENCE_CXX17_ALLOCATOR_VOID_DEPRECATION_WARNING _SILENCE_CXX17_OLD_ALLOCATOR_MEMBERS_DEPRECATION_WARNING _SILENCE_CXX17_CODECVT_HEADER_DEPRECATION_WARNING _CONSOLE _CRT_SECURE_NO_WARNINGS _SCL_SECURE_NO_WARNINGS _WIN32_WINNT 0x0A00 BOOST_USE_WINAPI_VERSION 0x0A00 NTDDI_VERSION 0x0A000000 BOOST_THREAD_VERSION 5 BOOST_THREAD_USES_DATETIME BOOST_SYSTEM_NO_DEPRECATED BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS BOOST_ENABLE_ASSERT_DEBUG_HANDLER BOOST_LOG_NO_SHORTHAND_NAMES BOOST_LOG_USE_NATIVE_SYSLOG BOOST_LOG_WITHOUT_THREAD_ATTR ABSL_FORCE_ALIGNED_ACCESS'},
 'bits': 64,
 'debug': False,
 'maxBsonObjectSize': 16777216,
 'storageEngines': ['devnull', 'ephemeralForTest', 'wiredTiger'],
 'ok': 1.0}

In [21]:
colle.database            # get the database name of exist collection

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'student')

In [23]:
colle.full_name              # get the database and collection name

'student.admission'

In [26]:
client.list_database_names()         # get the database name best method

['admin', 'config', 'local']

In [27]:
record={'name':'Ranjit singh','father':'Somkar Singh','branch':'cse','roll_no':'19CSED68','city':'Agra','marks':124}
record

{'name': 'Ranjit singh',
 'father': 'Somkar Singh',
 'branch': 'cse',
 'roll_no': '19CSED68',
 'city': 'Agra',
 'marks': 124}

In [28]:
colle.insert_one(record)            # insert single document

In [23]:
# A function of multiple row insert with the help of user input
def multiple_insert():

    while True:
        
        name=input('enter the name :- ')
        father=input('enter father name :- ')
        branch = input('enter the branch name :- ')
        roll=int(input('enter your roll number :- '))
        city=input('enter the city name :- ')
        marks=int(input('enter your marks :- '))
        permision=input('do you want  to exit it press y or n :- ')


        data={'name':name,'father':father,'branch':branch,'roll_no':roll,'city':city,'marks':marks}
        colle.insert_one(data)
        if permision=='y':
            break

In [22]:
multiple_insert()                # calling the function for execution of programe

enter the name :- suraj
enter father name :- mohan
enter the branch name :- IT
enter your roll number :- 69
enter the city name :- hathras
enter your marks :- 112
do you want  to exit it press y or ny
enter the name :- kundan
enter father name :- amar singh
enter the branch name :- civil
enter your roll number :- 70
enter the city name :- sadabad
enter your marks :- 141
do you want  to exit it press y or ny
enter the name :- raju
enter father name :- ramsahay
enter the branch name :- machenical
enter your roll number :- 45
enter the city name :- arti
enter your marks :- 119
do you want  to exit it press y or ny
enter the name :- soma
enter father name :- ramsahay
enter the branch name :- ECE
enter your roll number :- 45
enter the city name :- shahwajpur
enter your marks :- 156
do you want  to exit it press y or nn

In [48]:
colle.find_one()            # by default first document from your collection

{'_id': ObjectId('618a8b80e860454f552548d2'),
 'name': 'Ranjit singh',
 'father': 'Somkar Singh',
 'branch': 'cse',
 'roll_no': '19CSED68',
 'city': 'Agra',
 'marks': 124}

In [49]:
colle.find()        # it is getting all the record of admission collection
# here you have to use loop

In [52]:
for i in colle.find():          # print all the document of collection
    print(i)

{'_id': ObjectId('618a8b80e860454f552548d2'), 'name': 'Ranjit singh', 'father': 'Somkar Singh', 'branch': 'cse', 'roll_no': '19CSED68', 'city': 'Agra', 'marks': 124}
{'_id': ObjectId('618a8ee0e860454f552548d3'), 'name': 'mohan ', 'father': 'suraj ', 'branch': 'cse', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f17e860454f552548d4'), 'name': 'suraj', 'father': 'mohan', 'branch': 'IT', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f3fe860454f552548d5'), 'name': 'kundan', 'father': 'amar singh', 'branch': 'civil', 'roll_no': 70, 'city': 'sadabad', 'marks': 141}
{'_id': ObjectId('618a8f67e860454f552548d6'), 'name': 'raju', 'father': 'ramsahay', 'branch': 'machenical', 'roll_no': 45, 'city': 'arti', 'marks': 119}
{'_id': ObjectId('618a8f95e860454f552548d7'), 'name': 'soma', 'father': 'ramsahay', 'branch': 'ECE', 'roll_no': 45, 'city': 'shahwajpur', 'marks': 156}

In [73]:
colle.find_one({'name':'kundan'})       
# for getting only one document
# that contain name equal kundan

{'_id': ObjectId('618a8f3fe860454f552548d5'),
 'name': 'kundan',
 'father': 'amar singh',
 'branch': 'civil',
 'roll_no': 70,
 'city': 'sadabad',
 'marks': 141}

In [72]:
# query the json document where based on equality condtion but
# sometime it may be having more than one documents
for i in colle.find({'name':'kundan'}):
    print(i)

{'_id': ObjectId('618a8f3fe860454f552548d5'), 'name': 'kundan', 'father': 'amar singh', 'branch': 'civil', 'roll_no': 70, 'city': 'sadabad', 'marks': 141}

## mongodb operators implementation with the help of python PYMONgO
<ul>
    <li><p>in</p></li>
    <li><p>gt</p></li>
    <li><p>gte</p></li>
    <li><p>lt</p></li>
    <li><p>lte</p></li>
    <li><p>eq</p></li>
    <li><p>ne</p></li>
    <li><p>ne</p></li>    
    </ul>
>> # Logical operators
  <ul>
    <li>AND</li>
    <li>OR</li>
    <li>NOT</li>
    <li>NOR</li>
    </ul>

In [76]:
# $IN  operator
for i in colle.find({'marks':{'$in':[141]}}):
    print(i)

{'_id': ObjectId('618a8f3fe860454f552548d5'), 'name': 'kundan', 'father': 'amar singh', 'branch': 'civil', 'roll_no': 70, 'city': 'sadabad', 'marks': 141}

In [79]:
for i in colle.find({'name':{'$in':['Ranjit singh','mohan ','kundan']}}):
    print(i)

{'_id': ObjectId('618a8b80e860454f552548d2'), 'name': 'Ranjit singh', 'father': 'Somkar Singh', 'branch': 'cse', 'roll_no': '19CSED68', 'city': 'Agra', 'marks': 124}
{'_id': ObjectId('618a8ee0e860454f552548d3'), 'name': 'mohan ', 'father': 'suraj ', 'branch': 'cse', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f3fe860454f552548d5'), 'name': 'kundan', 'father': 'amar singh', 'branch': 'civil', 'roll_no': 70, 'city': 'sadabad', 'marks': 141}

In [81]:
colle.insert_one({'name':'mohini','father':'suraj','roll_no':55,'marks':200})
# direct single document insert

In [83]:
for i in colle.find({'father':'suraj','marks':{'$gt':140}}):
    print(i)
# it is performing a operation as like AND Operator

{'_id': ObjectId('618a9dd5e860454f552548d8'), 'name': 'mohini', 'father': 'suraj', 'roll_no': 55, 'marks': 200}

# AND OperaTor

In [84]:
for i in colle.find({'$and':[{'father':{'$eq':'suraj'}},{'marks':{'$gt':140}}]}):
    print(i)
# i got this document by using AND operator

{'_id': ObjectId('618a9dd5e860454f552548d8'), 'name': 'mohini', 'father': 'suraj', 'roll_no': 55, 'marks': 200}

# OR Operator

In [91]:
for doc in colle.find({'$or':[{'marks':{'$lt':130}},{'father':{'$eq':'suraj'}}]}):
    print(doc)
# it is performing a or operation

{'_id': ObjectId('618a8b80e860454f552548d2'), 'name': 'Ranjit singh', 'father': 'Somkar Singh', 'branch': 'cse', 'roll_no': '19CSED68', 'city': 'Agra', 'marks': 124}
{'_id': ObjectId('618a8ee0e860454f552548d3'), 'name': 'mohan ', 'father': 'suraj ', 'branch': 'cse', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f17e860454f552548d4'), 'name': 'suraj', 'father': 'mohan', 'branch': 'IT', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f67e860454f552548d6'), 'name': 'raju', 'father': 'ramsahay', 'branch': 'machenical', 'roll_no': 45, 'city': 'arti', 'marks': 119}
{'_id': ObjectId('618a9dd5e860454f552548d8'), 'name': 'mohini', 'father': 'suraj', 'roll_no': 55, 'marks': 200}

## operations on nested documents by using Pymongo

In [10]:
nested_record=[
    {'item':'journal','qty':25,'size':{'h':14,'w':21,'uom':'cm'},'status':'A'},
    {'item':'paint','qty':15,'size':{'h':20,'w':36,'uom':'in'},'status':'A'},
    {'item':'t-shirt','qty':11,'size':{'h':22,'w':32,'uom':'cm'},'status':'B'},
    {'item':'shirt','qty':5,'size':{'h':22,'w':32,'uom':'m'},'status':'C'},
    {'item':'paint','qty':52,'size':{'h':64,'w':41,'uom':'cm'},'status':'D'},
    {'item':'journal','qty':35,'size':{'h':34,'w':28,'uom':'m'},'status':'C'},
    {'item':'lower','qty':26,'size':{'h':45,'w':31,'uom':'t'},'status':'B'},
    {'item':'t-shirt','qty':21,'size':{'h':25,'w':21,'uom':'cm'},'status':'E'},

]

In [5]:
nested_record

[{'item': 'journal',
  'qty': 25,
  'size': {'h': 14, 'w': 21, 'uom': 'cm'},
  'status': 'A'},
 {'item': 'paint',
  'qty': 15,
  'size': {'h': 20, 'w': 36, 'uom': 'in'},
  'status': 'A'},
 {'item': 't-shirt',
  'qty': 11,
  'size': {'h': 22, 'w': 32, 'uom': 'cm'},
  'status': 'B'},
 {'item': 'shirt',
  'qty': 5,
  'size': {'h': 22, 'w': 32, 'uom': 'm'},
  'status': 'C'},
 {'item': 'paint',
  'qty': 52,
  'size': {'h': 64, 'w': 41, 'uom': 'cm'},
  'status': 'D'},
 {'item': 'journal',
  'qty': 35,
  'size': {'h': 34, 'w': 28, 'uom': 'm'},
  'status': 'C'},
 {'item': 'lower',
  'qty': 26,
  'size': {'h': 45, 'w': 31, 'uom': 't'},
  'status': 'B'},
 {'item': 't-shirt',
  'qty': 21,
  'size': {'h': 25, 'w': 21, 'uom': 'cm'},
  'status': 'E'}]

## some Python concept on nested record @

In [100]:
nested_record[1]

{'item': 'paint',
 'qty': 15,
 'size': {'h': 20, 'w': 36, 'uom': 'in'},
 'status': 'A'}

In [98]:
nested_record[1].keys()

dict_keys(['item', 'qty', 'size', 'status'])

In [101]:
nested_record[1].values()

dict_values(['paint', 15, {'h': 20, 'w': 36, 'uom': 'in'}, 'A'])

In [102]:
nested_record[1]['size']

{'h': 20, 'w': 36, 'uom': 'in'}

In [104]:
nested_record[1]['size'].keys()

dict_keys(['h', 'w', 'uom'])

In [105]:
nested_record[1]['size'].values()

dict_values([20, 36, 'in'])

In [14]:
nst=mydb.nestdata        # creating collection name nestdata

In [15]:
nst.full_name            # get the collection name with the database

'student.nestdata'

In [16]:
nst.insert_many(nested_record)

In [17]:
for docs in nst.find():
    print(docs)

{'_id': ObjectId('618cd9ce49a09596aaaa298b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('618cd9ce49a09596aaaa298c'), 'item': 'paint', 'qty': 15, 'size': {'h': 20, 'w': 36, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('618cd9ce49a09596aaaa298d'), 'item': 't-shirt', 'qty': 11, 'size': {'h': 22, 'w': 32, 'uom': 'cm'}, 'status': 'B'}
{'_id': ObjectId('618cd9ce49a09596aaaa298e'), 'item': 'shirt', 'qty': 5, 'size': {'h': 22, 'w': 32, 'uom': 'm'}, 'status': 'C'}
{'_id': ObjectId('618cd9ce49a09596aaaa298f'), 'item': 'paint', 'qty': 52, 'size': {'h': 64, 'w': 41, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('618cd9ce49a09596aaaa2990'), 'item': 'journal', 'qty': 35, 'size': {'h': 34, 'w': 28, 'uom': 'm'}, 'status': 'C'}
{'_id': ObjectId('618cd9ce49a09596aaaa2991'), 'item': 'lower', 'qty': 26, 'size': {'h': 45, 'w': 31, 'uom': 't'}, 'status': 'B'}
{'_id': ObjectId('618cd9ce49a09596aaaa2992'), 'item': 't-shirt', 'qty': 21, 'size': {'h': 25, 'w': 21, 'uom': 'cm'}, 'status': 'E'}

In [40]:
for doc in nst.find({'size':{'h':14,'w':21,'uom':'cm'}}):
    print(doc)
# i am getting a single document from the nested json document

{'_id': ObjectId('618bff941ba362254a215dac'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

## how to update JSON document in mongodb

## update_one

In [41]:
nst.update_one(
    {'item':'shirt'},
    {'$set':{'size.uom':'kg','status':'E',},         # this line is thinkable
    '$currentDate':{'lastmodifiedDate':True}}   # i am ading last modified date
)

In [44]:
nst.find_one({'item':'shirt'})
# you can see now i has updated a single particular document

{'_id': ObjectId('618bff941ba362254a215daf'),
 'item': 'shirt',
 'qty': 5,
 'size': {'h': 22, 'w': 32, 'uom': 'kg'},
 'status': 'E',
 'lastmodifiedDate': datetime.datetime(2021, 11, 10, 17, 39, 46, 442000)}

# update_many()
<p> it is used with the condition operator</p>

In [20]:
nst.update_many({'qty':{'$gt':32}},{'$set':{'size.uom':'kg','status':'K'},'$currentDate':{'lastmodified':True}})
          
# thi is multiple document fetchec by conditional operator
# and i will update it both

In [21]:
for docs in nst.find({'qty':{'$gt':32}}):
    print(docs)
# you can see now i has update both

{'_id': ObjectId('618cd9ce49a09596aaaa298f'), 'item': 'paint', 'qty': 52, 'size': {'h': 64, 'w': 41, 'uom': 'kg'}, 'status': 'K', 'lastmodified': datetime.datetime(2021, 11, 11, 9, 10, 44, 929000)}
{'_id': ObjectId('618cd9ce49a09596aaaa2990'), 'item': 'journal', 'qty': 35, 'size': {'h': 34, 'w': 28, 'uom': 'kg'}, 'status': 'K', 'lastmodified': datetime.datetime(2021, 11, 11, 9, 10, 44, 930000)}

# get the collection name with the help database instance

In [7]:
mydb.list_collection_names()  # this are all my collection
# we will use admission collection

['nestdata', 'admission']

In [8]:
admision=mydb.admission

In [9]:
admision.find_one()
# you can see now i has retrieved first document from the admission collection

{'_id': ObjectId('618a8b80e860454f552548d2'),
 'name': 'Ranjit singh',
 'father': 'Somkar Singh',
 'branch': 'cse',
 'roll_no': '19CSED68',
 'city': 'Agra',
 'marks': 124}

In [10]:
for doc in admision.find({}):
    print(doc)
# all the documents present in my collection

{'_id': ObjectId('618a8b80e860454f552548d2'), 'name': 'Ranjit singh', 'father': 'Somkar Singh', 'branch': 'cse', 'roll_no': '19CSED68', 'city': 'Agra', 'marks': 124}
{'_id': ObjectId('618a8ee0e860454f552548d3'), 'name': 'mohan ', 'father': 'suraj ', 'branch': 'cse', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f17e860454f552548d4'), 'name': 'suraj', 'father': 'mohan', 'branch': 'IT', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f3fe860454f552548d5'), 'name': 'kundan', 'father': 'amar singh', 'branch': 'civil', 'roll_no': 70, 'city': 'sadabad', 'marks': 141}
{'_id': ObjectId('618a8f67e860454f552548d6'), 'name': 'raju', 'father': 'ramsahay', 'branch': 'machenical', 'roll_no': 45, 'city': 'arti', 'marks': 119}
{'_id': ObjectId('618a8f95e860454f552548d7'), 'name': 'soma', 'father': 'ramsahay', 'branch': 'ECE', 'roll_no': 45, 'city': 'shahwajpur', 'marks': 156}
{'_id': ObjectId('618a9dd5e860454f552548d8'), 'name': 'mohini', 'father': 'suraj', 'roll_no': 55, 'marks': 200}

# replace_one

In [21]:
admision.replace_one({'father': 'Somkar Singh'},{'father': 'Somkar Singh','updated':[{'name':'Ranjit singh','Father':'Somkar singh','Branch':'CSE','Roll_no':'19CSED68','profile':'Software Engineer'}]})

# i has replace one document

In [23]:
for doc in admision.find():
    print(doc)
# you can see now my first document that i has replaced by using replace_one method

{'_id': ObjectId('618a8b80e860454f552548d2'), 'father': 'Somkar Singh', 'updated': [{'name': 'Ranjit singh', 'Father': 'Somkar singh', 'Branch': 'CSE', 'Roll_no': '19CSED68', 'profile': 'Software Engineer'}]}
{'_id': ObjectId('618a8ee0e860454f552548d3'), 'name': 'mohan ', 'father': 'suraj ', 'branch': 'cse', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f17e860454f552548d4'), 'name': 'suraj', 'father': 'mohan', 'branch': 'IT', 'roll_no': 69, 'city': 'hathras', 'marks': 112}
{'_id': ObjectId('618a8f3fe860454f552548d5'), 'name': 'kundan', 'father': 'amar singh', 'branch': 'civil', 'roll_no': 70, 'city': 'sadabad', 'marks': 141}
{'_id': ObjectId('618a8f67e860454f552548d6'), 'name': 'raju', 'father': 'ramsahay', 'branch': 'machenical', 'roll_no': 45, 'city': 'arti', 'marks': 119}
{'_id': ObjectId('618a8f95e860454f552548d7'), 'name': 'soma', 'father': 'ramsahay', 'branch': 'ECE', 'roll_no': 45, 'city': 'shahwajpur', 'marks': 156}
{'_id': ObjectId('618a9dd5e860454f552548d8'), 'name': 'mohini', 'father': 'suraj', 'roll_no': 55, 'marks': 200}

# aggregate function
<ul>
    <li>Avg</li>
    <li>sum</li>
    <li>multiply</li>
    <li>project</li>
    </ul>

In [26]:
mydb.list_collection_names()

['nestdata', 'admission']

In [31]:
admision.find_one()
# this collection is not suitabl for agregate so , i will create a new collection with new document

{'_id': ObjectId('618a8b80e860454f552548d2'),
 'father': 'Somkar Singh',
 'updated': [{'name': 'Ranjit singh',
   'Father': 'Somkar singh',
   'Branch': 'CSE',
   'Roll_no': '19CSED68',
   'profile': 'Software Engineer'}]}

In [32]:
fruit=mydb.fruit

In [37]:
data=[{'name':'mango','quality':'good','quantity':20,'rate':10,'weight':'2kg'},
{'name':'banana','quality':'medium','quantity':15,'rate':8,'weight':'3kg'},
{'name':'grapes','quality':'vgood','quantity':12,'rate':20,'weight':'5kg'},
{'name':'papaya','quality':'typical good','quantity':28,'rate':10,'weight':'4kg'},
{'name':'apple','quality':'good','quantity':22,'rate':80,'weight':'8kg'}]

In [40]:
data

[{'name': 'mango',
  'quality': 'good',
  'quantity': 20,
  'rate': 10,
  'weight': '2kg'},
 {'name': 'banana',
  'quality': 'medium',
  'quantity': 15,
  'rate': 8,
  'weight': '3kg'},
 {'name': 'grapes',
  'quality': 'vgood',
  'quantity': 12,
  'rate': 20,
  'weight': '5kg'},
 {'name': 'papaya',
  'quality': 'typical good',
  'quantity': 28,
  'rate': 10,
  'weight': '4kg'},
 {'name': 'apple',
  'quality': 'good',
  'quantity': 22,
  'rate': 80,
  'weight': '8kg'}]

In [39]:
import pandas as pd
pd.DataFrame(data)
# you can see here my data in pandas Dataframe

     name       quality  quantity  rate weight
0   mango          good        20    10    2kg
1  banana        medium        15     8    3kg
2  grapes         vgood        12    20    5kg
3  papaya  typical good        28    10    4kg
4   apple          good        22    80    8kg

In [41]:
fruit.insert_many(data)
# insert the data into fruit collection

In [42]:
for doc in fruit.find():
    print(doc)
# my new data is ready for the agregate function

{'_id': ObjectId('618d3853cf8cf8d792821e38'), 'name': 'mango', 'quality': 'good', 'quantity': 20, 'rate': 10, 'weight': '2kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e39'), 'name': 'banana', 'quality': 'medium', 'quantity': 15, 'rate': 8, 'weight': '3kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3a'), 'name': 'grapes', 'quality': 'vgood', 'quantity': 12, 'rate': 20, 'weight': '5kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3b'), 'name': 'papaya', 'quality': 'typical good', 'quantity': 28, 'rate': 10, 'weight': '4kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3c'), 'name': 'apple', 'quality': 'good', 'quantity': 22, 'rate': 80, 'weight': '8kg'}

dic={'_id': ObjectId('618d3853cf8cf8d792821e38'), 'name': 'mango', 'quality': 'good', 'quantity': 20, 'rate': 10, 'weight': '2kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e39'), 'name': 'banana', 'quality': 'medium', 'quantity': 15, 'rate': 8, 'weight': '3kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3a'), 'name': 'grapes', 'quality': 'vgood', 'quantity': 12, 'rate': 20, 'weight': '5kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3b'), 'name': 'papaya', 'quality': 'typical good', 'quantity': 28, 'rate': 10, 'weight': '4kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3c'), 'name': 'apple', 'quality': 'good', 'quantity': 22, 'rate': 80, 'weight': '8kg'}

In [43]:
fruit.insert_one({'name':'apple','quality':'good','quantity':14,'rate':70,'weight':'5kg'})
# i am adding one another document in my fruit collection

In [44]:
for doc in fruit.find():
    print(doc)

{'_id': ObjectId('618d3853cf8cf8d792821e38'), 'name': 'mango', 'quality': 'good', 'quantity': 20, 'rate': 10, 'weight': '2kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e39'), 'name': 'banana', 'quality': 'medium', 'quantity': 15, 'rate': 8, 'weight': '3kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3a'), 'name': 'grapes', 'quality': 'vgood', 'quantity': 12, 'rate': 20, 'weight': '5kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3b'), 'name': 'papaya', 'quality': 'typical good', 'quantity': 28, 'rate': 10, 'weight': '4kg'}
{'_id': ObjectId('618d3853cf8cf8d792821e3c'), 'name': 'apple', 'quality': 'good', 'quantity': 22, 'rate': 80, 'weight': '8kg'}
{'_id': ObjectId('618d3b38cf8cf8d792821e3d'), 'name': 'apple', 'quality': 'good', 'quantity': 14, 'rate': 70, 'weight': '5kg'}

In [45]:
result=fruit.aggregate([{'$group':{'_id':'$name','total_record':{'$sum':1}}}])   # here 1 represent 1st index number of my data is name
# how many time exist same fruit name in my collection

In [47]:
for i in result:
    print(i)
# you can see now apple 2 times exist

{'_id': 'banana', 'total_record': 1}
{'_id': 'apple', 'total_record': 2}
{'_id': 'mango', 'total_record': 1}
{'_id': 'papaya', 'total_record': 1}
{'_id': 'grapes', 'total_record': 1}

In [50]:
total_sum=fruit.aggregate([
    {'$group':{'_id':'$name','total_quantity':{'$sum':'$quantity'}}}
])

In [51]:
for i in total_sum:
    print(i)
# you can see my apply quantity added

{'_id': 'grapes', 'total_quantity': 12}
{'_id': 'banana', 'total_quantity': 15}
{'_id': 'apple', 'total_quantity': 36}
{'_id': 'papaya', 'total_quantity': 28}
{'_id': 'mango', 'total_quantity': 20}

# avg aggregate method

In [52]:
output=fruit.aggregate(
[
    {'$group':{'_id':'$name','avg_rate':{'$avg':'$rate'}}
        
    }
])

In [53]:
for i in output:
    print(i)
# you can see now my apple rate average value

{'_id': 'banana', 'avg_rate': 8.0}
{'_id': 'apple', 'avg_rate': 75.0}
{'_id': 'mango', 'avg_rate': 10.0}
{'_id': 'papaya', 'avg_rate': 10.0}
{'_id': 'grapes', 'avg_rate': 20.0}

# $multiply method in mongodb

In [55]:
out=fruit.aggregate(
[
    {
        '$group':{'_id':'$name','total_avg_amout':{'$avg':{'$multiply':['$quantity','$rate']}},'average_rate':{'$avg':'$rate'}}
    }
])

In [56]:
for i in out:
    print(i)

{'_id': 'banana', 'total_avg_amout': 120.0, 'average_rate': 8.0}
{'_id': 'apple', 'total_avg_amout': 1370.0, 'average_rate': 75.0}
{'_id': 'mango', 'total_avg_amout': 200.0, 'average_rate': 10.0}
{'_id': 'papaya', 'total_avg_amout': 280.0, 'average_rate': 10.0}
{'_id': 'grapes', 'total_avg_amout': 240.0, 'average_rate': 20.0}

# project is used like a select statement

In [57]:
fruit.aggregate([{'$project':{'name':1,'rate':1}}])          
# it is returning multiple names and rate of fruit
# so i have to use loop here for display all the document one by one

In [58]:
for docs in fruit.aggregate([{'$project':{'name':1,'rate':1}}]):
    print(docs)

{'_id': ObjectId('618d3853cf8cf8d792821e38'), 'name': 'mango', 'rate': 10}
{'_id': ObjectId('618d3853cf8cf8d792821e39'), 'name': 'banana', 'rate': 8}
{'_id': ObjectId('618d3853cf8cf8d792821e3a'), 'name': 'grapes', 'rate': 20}
{'_id': ObjectId('618d3853cf8cf8d792821e3b'), 'name': 'papaya', 'rate': 10}
{'_id': ObjectId('618d3853cf8cf8d792821e3c'), 'name': 'apple', 'rate': 80}
{'_id': ObjectId('618d3b38cf8cf8d792821e3d'), 'name': 'apple', 'rate': 70}

In [59]:
for docs in fruit.aggregate([{'$project':{'name':1,'rate':1,'quantity':1}}]):
    print(docs)
# you can see now my quantity is also present there

{'_id': ObjectId('618d3853cf8cf8d792821e38'), 'name': 'mango', 'quantity': 20, 'rate': 10}
{'_id': ObjectId('618d3853cf8cf8d792821e39'), 'name': 'banana', 'quantity': 15, 'rate': 8}
{'_id': ObjectId('618d3853cf8cf8d792821e3a'), 'name': 'grapes', 'quantity': 12, 'rate': 20}
{'_id': ObjectId('618d3853cf8cf8d792821e3b'), 'name': 'papaya', 'quantity': 28, 'rate': 10}
{'_id': ObjectId('618d3853cf8cf8d792821e3c'), 'name': 'apple', 'quantity': 22, 'rate': 80}
{'_id': ObjectId('618d3b38cf8cf8d792821e3d'), 'name': 'apple', 'quantity': 14, 'rate': 70}

## it is prectise of mongodb database onthe realworld Bike Project
<p> in this prectise i am collectiong all the document from my machine learning bike project !!</p>

In [4]:
myd=client['Bikeproject']     # you can existed database for the process

In [9]:
myd.list_collection_names()

['bike_data']

In [13]:
json=[]
for i in myd.bike_data.find():

    json.append(i)
    print(i)

{'_id': ObjectId('618bee81389b836b5ae82d49'), 'bike': 'Royal Enfield', 'kilometeres': '6000', 'handed': '2', 'year': 2, 'power': 300}
{'_id': ObjectId('618beed1389b836b5ae82d4a'), 'bike': 'Royal Enfield', 'kilometeres': '6000', 'handed': '2', 'year': 1, 'power': 300}
{'_id': ObjectId('618bf18792567f0985a825f2'), 'bike': 'KTM', 'kilometeres': '5000', 'handed': '2', 'year': 1, 'power': 360, 'Price': 133006.83}
{'_id': ObjectId('618bf1c692567f0985a825f3'), 'bike': 'Honda', 'kilometeres': '19500', 'handed': '1', 'year': 2, 'power': 100, 'Price': 45082.08}
{'_id': ObjectId('618bf1eb92567f0985a825f4'), 'bike': 'Yamaha', 'kilometeres': '35000', 'handed': '3', 'year': 11, 'power': 98, 'Price': 20205.9}
{'_id': ObjectId('618bf21c92567f0985a825f5'), 'bike': 'BMW', 'kilometeres': '14000', 'handed': '2', 'year': 4, 'power': 350, 'Price': 119022.0}
{'_id': ObjectId('618bf23692567f0985a825f6'), 'bike': 'Suzuki', 'kilometeres': '5821', 'handed': '3', 'year': 4, 'power': 360, 'Price': 94606.0}
{'_id': ObjectId('618bf42f65e6e82407bf68c6'), 'bike': 'Suzuki', 'kilometeres': '5821', 'handed': '3', 'year': 4, 'power': 360, 'Price': 94606.0}
{'_id': ObjectId('618bf45c65e6e82407bf68c7'), 'bike': 'TVS', 'kilometeres': '45000', 'handed': '3', 'year': 2, 'power': 200, 'Price': 105117.0}
{'_id': ObjectId('618bf49e65e6e82407bf68c8'), 'bike': 'Honda', 'kilometeres': '2', 'handed': '1', 'year': 2, 'power': 100, 'Price': 53925.0}

In [14]:
json

[{'_id': ObjectId('618bee81389b836b5ae82d49'),
  'bike': 'Royal Enfield',
  'kilometeres': '6000',
  'handed': '2',
  'year': 2,
  'power': 300},
 {'_id': ObjectId('618beed1389b836b5ae82d4a'),
  'bike': 'Royal Enfield',
  'kilometeres': '6000',
  'handed': '2',
  'year': 1,
  'power': 300},
 {'_id': ObjectId('618bf18792567f0985a825f2'),
  'bike': 'KTM',
  'kilometeres': '5000',
  'handed': '2',
  'year': 1,
  'power': 360,
  'Price': 133006.83},
 {'_id': ObjectId('618bf1c692567f0985a825f3'),
  'bike': 'Honda',
  'kilometeres': '19500',
  'handed': '1',
  'year': 2,
  'power': 100,
  'Price': 45082.08},
 {'_id': ObjectId('618bf1eb92567f0985a825f4'),
  'bike': 'Yamaha',
  'kilometeres': '35000',
  'handed': '3',
  'year': 11,
  'power': 98,
  'Price': 20205.9},
 {'_id': ObjectId('618bf21c92567f0985a825f5'),
  'bike': 'BMW',
  'kilometeres': '14000',
  'handed': '2',
  'year': 4,
  'power': 350,
  'Price': 119022.0},
 {'_id': ObjectId('618bf23692567f0985a825f6'),
  'bike': 'Suzuki',
  'kilometeres': '5821',
  'handed': '3',
  'year': 4,
  'power': 360,
  'Price': 94606.0},
 {'_id': ObjectId('618bf42f65e6e82407bf68c6'),
  'bike': 'Suzuki',
  'kilometeres': '5821',
  'handed': '3',
  'year': 4,
  'power': 360,
  'Price': 94606.0},
 {'_id': ObjectId('618bf45c65e6e82407bf68c7'),
  'bike': 'TVS',
  'kilometeres': '45000',
  'handed': '3',
  'year': 2,
  'power': 200,
  'Price': 105117.0},
 {'_id': ObjectId('618bf49e65e6e82407bf68c8'),
  'bike': 'Honda',
  'kilometeres': '2',
  'handed': '1',
  'year': 2,
  'power': 100,
  'Price': 53925.0}]

## you can see now i got all the document in my pandas dataframe

In [28]:
pandas.DataFrame(json)

,_id,bike,kilometeres,handed,year,power,Price
0,618bee81389b836b5ae82d49,Royal Enfield,6000,2,2,300,NaN
1,618beed1389b836b5ae82d4a,Royal Enfield,6000,2,1,300,NaN
2,618bf18792567f0985a825f2,KTM,5000,2,1,360,133006.83
3,618bf1c692567f0985a825f3,Honda,19500,1,2,100,45082.08
4,618bf1eb92567f0985a825f4,Yamaha,35000,3,11,98,20205.90
5,618bf21c92567f0985a825f5,BMW,14000,2,4,350,119022.00
6,618bf23692567f0985a825f6,Suzuki,5821,3,4,360,94606.00
7,618bf42f65e6e82407bf68c6,Suzuki,5821,3,4,360,94606.00
8,618bf45c65e6e82407bf68c7,TVS,45000,3,2,200,105117.00
9,618bf49e65e6e82407bf68c8,Honda,2,1,2,100,53925.00

# revision

In [3]:
import pymongo

In [2]:
conn=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [7]:
conn.HOST

'localhost'

In [11]:
mydb=conn['irisdb']

In [12]:
mycl=mydb['iriscollection']

In [3]:
import seaborn as sns
import pandas as pd
data=sns.load_dataset('iris')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
data.to_csv('iris.csv')

In [4]:
df=pd.read_csv('iris.csv')
df.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [5]:
df=df.drop('Unnamed: 0',axis='columns')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
mycl.insert_one({'sepal_length':5.1,'sepal_width':3.5,'petal_length':1.4,'petal_width':0.2,'species':'setosa'})

In [24]:
df.iterrows()

In [37]:
dict(a=[5,3],b=[3,4])

{'a': [5, 3], 'b': [3, 4]}

In [47]:
for i , row in  df.iterrows():
    
    record=dict(sepal_length = row.sepal_length,sepal_width=row.sepal_width,petal_length=row.petal_length,petal_width=row.petal_width,species=row.species)
    mycl.insert_one(record)
    
    
# dump data into mongodb

In [60]:
b=[]
for i in mycl.find():
    b.append(i)
# load from database

In [62]:
pd.DataFrame(b)

,_id,sepal_length,sepal_width,petal_length,petal_width,species
0,62f0c79954dded26d864af0f,5.1,3.5,1.4,0.2,setosa
1,62f0cb8554dded26d864af10,5.1,3.5,1.4,0.2,setosa
2,62f0cb8554dded26d864af11,4.9,3.0,1.4,0.2,setosa
3,62f0cb8554dded26d864af12,4.7,3.2,1.3,0.2,setosa
4,62f0cb8554dded26d864af13,4.6,3.1,1.5,0.2,setosa
...,...,...,...,...,...,...
157,62f0cbb254dded26d864afac,6.7,3.0,5.2,2.3,virginica
158,62f0cbb254dded26d864afad,6.3,2.5,5.0,1.9,virginica
159,62f0cbb254dded26d864afae,6.5,3.0,5.2,2.0,virginica
160,62f0cbb254dded26d864afaf,6.2,3.4,5.4,2.3,virginica
161,62f0cbb254dded26d864afb0,5.9,3.0,5.1,1.8,virginica

In [9]:
client.full_name

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'full_name')

In [13]:
client.get_database

In [16]:
for i in client.list_database_names():
    print(i)

# for show the database in current db

admin
config
irisdb
local
student

In [17]:
client['irisdb'].list_collection_names()

# get the collection name

['iriscollection']

In [18]:
for i in client['irisdb']['iriscollection'].find():
    print(i)

# for get the data from a particular collection

{'_id': ObjectId('62f0c79954dded26d864af0f'), 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af10'), 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af11'), 'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af12'), 'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af13'), 'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af14'), 'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af15'), 'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af16'), 'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af17'), 'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af18'), 'sepal_length': 4.4, 'sepal_width': 2.9, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af19'), 'sepal_length': 4.9, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.1, 'species': 'setosa'}
{'_id': ObjectId('62f0cb8554dded26d864af1a'), 'sepal_length': 5.4, 'sepal_width': 3.7, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af1b'), 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af1c'), 'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af1d'), 'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af1e'), 'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af1f'), 'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af20'), 'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af21'), 'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af22'), 'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af23'), 'sepal_length': 4.4, 'sepal_width': 2.9, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af24'), 'sepal_length': 4.9, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.1, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af25'), 'sepal_length': 5.4, 'sepal_width': 3.7, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af26'), 'sepal_length': 4.8, 'sepal_width': 3.4, 'petal_length': 1.6, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af27'), 'sepal_length': 4.8, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.1, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af28'), 'sepal_length': 4.3, 'sepal_width': 3.0, 'petal_length': 1.1, 'petal_width': 0.1, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af29'), 'sepal_length': 5.8, 'sepal_width': 4.0, 'petal_length': 1.2, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af2a'), 'sepal_length': 5.7, 'sepal_width': 4.4, 'petal_length': 1.5, 'petal_width': 0.4, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af2b'), 'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.3, 'petal_width': 0.4, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af2c'), 'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af2d'), 'sepal_length': 5.7, 'sepal_width': 3.8, 'petal_length': 1.7, 'petal_width': 0.3, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af2e'), 'sepal_length': 5.1, 'sepal_width': 3.8, 'petal_length': 1.5, 'petal_width': 0.3, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af2f'), 'sepal_length': 5.4, 'sepal_width': 3.4, 'petal_length': 1.7, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af30'), 'sepal_length': 5.1, 'sepal_width': 3.7, 'petal_length': 1.5, 'petal_width': 0.4, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af31'), 'sepal_length': 4.6, 'sepal_width': 3.6, 'petal_length': 1.0, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af32'), 'sepal_length': 5.1, 'sepal_width': 3.3, 'petal_length': 1.7, 'petal_width': 0.5, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af33'), 'sepal_length': 4.8, 'sepal_width': 3.4, 'petal_length': 1.9, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af34'), 'sepal_length': 5.0, 'sepal_width': 3.0, 'petal_length': 1.6, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af35'), 'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.6, 'petal_width': 0.4, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af36'), 'sepal_length': 5.2, 'sepal_width': 3.5, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af37'), 'sepal_length': 5.2, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af38'), 'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.6, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af39'), 'sepal_length': 4.8, 'sepal_width': 3.1, 'petal_length': 1.6, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af3a'), 'sepal_length': 5.4, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.4, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af3b'), 'sepal_length': 5.2, 'sepal_width': 4.1, 'petal_length': 1.5, 'petal_width': 0.1, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af3c'), 'sepal_length': 5.5, 'sepal_width': 4.2, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af3d'), 'sepal_length': 4.9, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af3e'), 'sepal_length': 5.0, 'sepal_width': 3.2, 'petal_length': 1.2, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af3f'), 'sepal_length': 5.5, 'sepal_width': 3.5, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af40'), 'sepal_length': 4.9, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.1, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af41'), 'sepal_length': 4.4, 'sepal_width': 3.0, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af42'), 'sepal_length': 5.1, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af43'), 'sepal_length': 5.0, 'sepal_width': 3.5, 'petal_length': 1.3, 'petal_width': 0.3, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af44'), 'sepal_length': 4.5, 'sepal_width': 2.3, 'petal_length': 1.3, 'petal_width': 0.3, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af45'), 'sepal_length': 4.4, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af46'), 'sepal_length': 5.0, 'sepal_width': 3.5, 'petal_length': 1.6, 'petal_width': 0.6, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af47'), 'sepal_length': 5.1, 'sepal_width': 3.8, 'petal_length': 1.9, 'petal_width': 0.4, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af48'), 'sepal_length': 4.8, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af49'), 'sepal_length': 5.1, 'sepal_width': 3.8, 'petal_length': 1.6, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af4a'), 'sepal_length': 4.6, 'sepal_width': 3.2, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af4b'), 'sepal_length': 5.3, 'sepal_width': 3.7, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af4c'), 'sepal_length': 5.0, 'sepal_width': 3.3, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa'}
{'_id': ObjectId('62f0cbb254dded26d864af4d'), 'sepal_length': 7.0, 'sepal_width': 3.2, 'petal_length': 4.7, 'petal_width': 1.4, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af4e'), 'sepal_length': 6.4, 'sepal_width': 3.2, 'petal_length': 4.5, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af4f'), 'sepal_length': 6.9, 'sepal_width': 3.1, 'petal_length': 4.9, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af50'), 'sepal_length': 5.5, 'sepal_width': 2.3, 'petal_length': 4.0, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af51'), 'sepal_length': 6.5, 'sepal_width': 2.8, 'petal_length': 4.6, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af52'), 'sepal_length': 5.7, 'sepal_width': 2.8, 'petal_length': 4.5, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af53'), 'sepal_length': 6.3, 'sepal_width': 3.3, 'petal_length': 4.7, 'petal_width': 1.6, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af54'), 'sepal_length': 4.9, 'sepal_width': 2.4, 'petal_length': 3.3, 'petal_width': 1.0, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af55'), 'sepal_length': 6.6, 'sepal_width': 2.9, 'petal_length': 4.6, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af56'), 'sepal_length': 5.2, 'sepal_width': 2.7, 'petal_length': 3.9, 'petal_width': 1.4, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af57'), 'sepal_length': 5.0, 'sepal_width': 2.0, 'petal_length': 3.5, 'petal_width': 1.0, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af58'), 'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 4.2, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af59'), 'sepal_length': 6.0, 'sepal_width': 2.2, 'petal_length': 4.0, 'petal_width': 1.0, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af5a'), 'sepal_length': 6.1, 'sepal_width': 2.9, 'petal_length': 4.7, 'petal_width': 1.4, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af5b'), 'sepal_length': 5.6, 'sepal_width': 2.9, 'petal_length': 3.6, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af5c'), 'sepal_length': 6.7, 'sepal_width': 3.1, 'petal_length': 4.4, 'petal_width': 1.4, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af5d'), 'sepal_length': 5.6, 'sepal_width': 3.0, 'petal_length': 4.5, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af5e'), 'sepal_length': 5.8, 'sepal_width': 2.7, 'petal_length': 4.1, 'petal_width': 1.0, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af5f'), 'sepal_length': 6.2, 'sepal_width': 2.2, 'petal_length': 4.5, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af60'), 'sepal_length': 5.6, 'sepal_width': 2.5, 'petal_length': 3.9, 'petal_width': 1.1, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af61'), 'sepal_length': 5.9, 'sepal_width': 3.2, 'petal_length': 4.8, 'petal_width': 1.8, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af62'), 'sepal_length': 6.1, 'sepal_width': 2.8, 'petal_length': 4.0, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af63'), 'sepal_length': 6.3, 'sepal_width': 2.5, 'petal_length': 4.9, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af64'), 'sepal_length': 6.1, 'sepal_width': 2.8, 'petal_length': 4.7, 'petal_width': 1.2, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af65'), 'sepal_length': 6.4, 'sepal_width': 2.9, 'petal_length': 4.3, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af66'), 'sepal_length': 6.6, 'sepal_width': 3.0, 'petal_length': 4.4, 'petal_width': 1.4, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af67'), 'sepal_length': 6.8, 'sepal_width': 2.8, 'petal_length': 4.8, 'petal_width': 1.4, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af68'), 'sepal_length': 6.7, 'sepal_width': 3.0, 'petal_length': 5.0, 'petal_width': 1.7, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af69'), 'sepal_length': 6.0, 'sepal_width': 2.9, 'petal_length': 4.5, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af6a'), 'sepal_length': 5.7, 'sepal_width': 2.6, 'petal_length': 3.5, 'petal_width': 1.0, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af6b'), 'sepal_length': 5.5, 'sepal_width': 2.4, 'petal_length': 3.8, 'petal_width': 1.1, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af6c'), 'sepal_length': 5.5, 'sepal_width': 2.4, 'petal_length': 3.7, 'petal_width': 1.0, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af6d'), 'sepal_length': 5.8, 'sepal_width': 2.7, 'petal_length': 3.9, 'petal_width': 1.2, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af6e'), 'sepal_length': 6.0, 'sepal_width': 2.7, 'petal_length': 5.1, 'petal_width': 1.6, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af6f'), 'sepal_length': 5.4, 'sepal_width': 3.0, 'petal_length': 4.5, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af70'), 'sepal_length': 6.0, 'sepal_width': 3.4, 'petal_length': 4.5, 'petal_width': 1.6, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af71'), 'sepal_length': 6.7, 'sepal_width': 3.1, 'petal_length': 4.7, 'petal_width': 1.5, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af72'), 'sepal_length': 6.3, 'sepal_width': 2.3, 'petal_length': 4.4, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af73'), 'sepal_length': 5.6, 'sepal_width': 3.0, 'petal_length': 4.1, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af74'), 'sepal_length': 5.5, 'sepal_width': 2.5, 'petal_length': 4.0, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af75'), 'sepal_length': 5.5, 'sepal_width': 2.6, 'petal_length': 4.4, 'petal_width': 1.2, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af76'), 'sepal_length': 6.1, 'sepal_width': 3.0, 'petal_length': 4.6, 'petal_width': 1.4, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af77'), 'sepal_length': 5.8, 'sepal_width': 2.6, 'petal_length': 4.0, 'petal_width': 1.2, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af78'), 'sepal_length': 5.0, 'sepal_width': 2.3, 'petal_length': 3.3, 'petal_width': 1.0, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af79'), 'sepal_length': 5.6, 'sepal_width': 2.7, 'petal_length': 4.2, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af7a'), 'sepal_length': 5.7, 'sepal_width': 3.0, 'petal_length': 4.2, 'petal_width': 1.2, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af7b'), 'sepal_length': 5.7, 'sepal_width': 2.9, 'petal_length': 4.2, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af7c'), 'sepal_length': 6.2, 'sepal_width': 2.9, 'petal_length': 4.3, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af7d'), 'sepal_length': 5.1, 'sepal_width': 2.5, 'petal_length': 3.0, 'petal_width': 1.1, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af7e'), 'sepal_length': 5.7, 'sepal_width': 2.8, 'petal_length': 4.1, 'petal_width': 1.3, 'species': 'versicolor'}
{'_id': ObjectId('62f0cbb254dded26d864af7f'), 'sepal_length': 6.3, 'sepal_width': 3.3, 'petal_length': 6.0, 'petal_width': 2.5, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af80'), 'sepal_length': 5.8, 'sepal_width': 2.7, 'petal_length': 5.1, 'petal_width': 1.9, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af81'), 'sepal_length': 7.1, 'sepal_width': 3.0, 'petal_length': 5.9, 'petal_width': 2.1, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af82'), 'sepal_length': 6.3, 'sepal_width': 2.9, 'petal_length': 5.6, 'petal_width': 1.8, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af83'), 'sepal_length': 6.5, 'sepal_width': 3.0, 'petal_length': 5.8, 'petal_width': 2.2, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af84'), 'sepal_length': 7.6, 'sepal_width': 3.0, 'petal_length': 6.6, 'petal_width': 2.1, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af85'), 'sepal_length': 4.9, 'sepal_width': 2.5, 'petal_length': 4.5, 'petal_width': 1.7, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af86'), 'sepal_length': 7.3, 'sepal_width': 2.9, 'petal_length': 6.3, 'petal_width': 1.8, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af87'), 'sepal_length': 6.7, 'sepal_width': 2.5, 'petal_length': 5.8, 'petal_width': 1.8, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af88'), 'sepal_length': 7.2, 'sepal_width': 3.6, 'petal_length': 6.1, 'petal_width': 2.5, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af89'), 'sepal_length': 6.5, 'sepal_width': 3.2, 'petal_length': 5.1, 'petal_width': 2.0, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8a'), 'sepal_length': 6.4, 'sepal_width': 2.7, 'petal_length': 5.3, 'petal_width': 1.9, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8b'), 'sepal_length': 6.8, 'sepal_width': 3.0, 'petal_length': 5.5, 'petal_width': 2.1, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8c'), 'sepal_length': 5.7, 'sepal_width': 2.5, 'petal_length': 5.0, 'petal_width': 2.0, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8d'), 'sepal_length': 5.8, 'sepal_width': 2.8, 'petal_length': 5.1, 'petal_width': 2.4, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8e'), 'sepal_length': 6.4, 'sepal_width': 3.2, 'petal_length': 5.3, 'petal_width': 2.3, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8f'), 'sepal_length': 6.5, 'sepal_width': 3.0, 'petal_length': 5.5, 'petal_width': 1.8, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af90'), 'sepal_length': 7.7, 'sepal_width': 3.8, 'petal_length': 6.7, 'petal_width': 2.2, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af91'), 'sepal_length': 7.7, 'sepal_width': 2.6, 'petal_length': 6.9, 'petal_width': 2.3, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af92'), 'sepal_length': 6.0, 'sepal_width': 2.2, 'petal_length': 5.0, 'petal_width': 1.5, 'species': 'virginica'}

In [20]:
for i in client.list_databases():
    print(i)

    # get the databases knowledge

{'name': 'admin', 'sizeOnDisk': 40960, 'empty': False}
{'name': 'config', 'sizeOnDisk': 110592, 'empty': False}
{'name': 'irisdb', 'sizeOnDisk': 77824, 'empty': False}
{'name': 'local', 'sizeOnDisk': 73728, 'empty': False}
{'name': 'student', 'sizeOnDisk': 73728, 'empty': False}

In [21]:
for i in client['irisdb']['iriscollection'].list_indexes():
    print(i)

SON([('v', 2), ('key', SON([('_id', 1)])), ('name', '_id_')])

In [24]:
for i in client['irisdb'].list_collections():
    print(i)

{'name': 'iriscollection', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': Binary(b'\x19\x921\x994\xafN4\xba\x05\x04\xdc\xde\xdf\x8b\xb3', 4)}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}

In [25]:
client['irisdb']['iriscollection'].find_one()

# get the first document from a particular collection

{'_id': ObjectId('62f0c79954dded26d864af0f'),
 'sepal_length': 5.1,
 'sepal_width': 3.5,
 'petal_length': 1.4,
 'petal_width': 0.2,
 'species': 'setosa'}

In [28]:
client['irisdb']['iriscollection'].find_one({'species':'setosa'})

# get the first document which has species satosa
# and it will return only first document

{'_id': ObjectId('62f0c79954dded26d864af0f'),
 'sepal_length': 5.1,
 'sepal_width': 3.5,
 'petal_length': 1.4,
 'petal_width': 0.2,
 'species': 'setosa'}

In [26]:
client['irisdb']['iriscollection'].full_name
# get the full name

'irisdb.iriscollection'

In [27]:
client.irisdb.iriscollection.full_name

# by using full name

'irisdb.iriscollection'

In [29]:
client['irisdb']['iriscollection'].find({'species':'satosa'})

# it is returning more than one

In [32]:
setosa=[]
for doc in client['irisdb']['iriscollection'].find({'species':'setosa'}):
    setosa.append(doc)

    # always remember if you passed a wrong value it will return nothing

In [35]:
setosa[0]['sepal_length']

5.1

In [37]:
setosa=pd.DataFrame(setosa)
setosa.head()

,_id,sepal_length,sepal_width,petal_length,petal_width,species
0,62f0c79954dded26d864af0f,5.1,3.5,1.4,0.2,setosa
1,62f0cb8554dded26d864af10,5.1,3.5,1.4,0.2,setosa
2,62f0cb8554dded26d864af11,4.9,3.0,1.4,0.2,setosa
3,62f0cb8554dded26d864af12,4.7,3.2,1.3,0.2,setosa
4,62f0cb8554dded26d864af13,4.6,3.1,1.5,0.2,setosa

In [39]:
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [40]:
versicolor=[]
for i in client.irisdb.iriscollection.find({'species':'versicolor'}):
    versicolor.append(i)

In [41]:
versicolor=pd.DataFrame(versicolor)
versicolor.head()

,_id,sepal_length,sepal_width,petal_length,petal_width,species
0,62f0cbb254dded26d864af4d,7.0,3.2,4.7,1.4,versicolor
1,62f0cbb254dded26d864af4e,6.4,3.2,4.5,1.5,versicolor
2,62f0cbb254dded26d864af4f,6.9,3.1,4.9,1.5,versicolor
3,62f0cbb254dded26d864af50,5.5,2.3,4.0,1.3,versicolor
4,62f0cbb254dded26d864af51,6.5,2.8,4.6,1.5,versicolor

In [42]:
virginica=[]
for i in client.irisdb.iriscollection.find({'species':'virginica'}):
    virginica.append(i)

In [43]:
virginica=pd.DataFrame(virginica)
virginica.head()

,_id,sepal_length,sepal_width,petal_length,petal_width,species
0,62f0cbb254dded26d864af7f,6.3,3.3,6.0,2.5,virginica
1,62f0cbb254dded26d864af80,5.8,2.7,5.1,1.9,virginica
2,62f0cbb254dded26d864af81,7.1,3.0,5.9,2.1,virginica
3,62f0cbb254dded26d864af82,6.3,2.9,5.6,1.8,virginica
4,62f0cbb254dded26d864af83,6.5,3.0,5.8,2.2,virginica

In [45]:
virginica=virginica.drop(['_id'],axis='columns')

In [46]:
versicolor=versicolor.drop(['_id'],axis='columns')

In [47]:
setosa=setosa.drop(['_id'],axis='columns')

In [48]:
virginica.head()

   sepal_length  sepal_width  petal_length  petal_width    species
0           6.3          3.3           6.0          2.5  virginica
1           5.8          2.7           5.1          1.9  virginica
2           7.1          3.0           5.9          2.1  virginica
3           6.3          2.9           5.6          1.8  virginica
4           6.5          3.0           5.8          2.2  virginica

In [50]:
versicolor.head()

   sepal_length  sepal_width  petal_length  petal_width     species
0           7.0          3.2           4.7          1.4  versicolor
1           6.4          3.2           4.5          1.5  versicolor
2           6.9          3.1           4.9          1.5  versicolor
3           5.5          2.3           4.0          1.3  versicolor
4           6.5          2.8           4.6          1.5  versicolor

In [51]:
setosa.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa

# now i will dump this data separately in separate collections

In [52]:
for i , row in  setosa.iterrows():
    
    record=dict(sepal_length = row.sepal_length,sepal_width=row.sepal_width,petal_length=row.petal_length,petal_width=row.petal_width,species=row.species)
    client.irisdb.setosa.insert_one(record)  # direct create and dump

In [53]:
for i , row in  versicolor.iterrows():
    
    record=dict(sepal_length = row.sepal_length,sepal_width=row.sepal_width,petal_length=row.petal_length,petal_width=row.petal_width,species=row.species)
    client.irisdb.versicolor.insert_one(record)  # direct create and dump

In [54]:
for i , row in  virginica.iterrows():
    
    record=dict(sepal_length = row.sepal_length,sepal_width=row.sepal_width,petal_length=row.petal_length,petal_width=row.petal_width,species=row.species)
    client.irisdb.virginica.insert_one(record)  # direct create and dump

In [56]:
client.irisdb.list_collection_names()

['iriscollection', 'versicolor', 'virginica', 'setosa']

In [63]:
for collections in client.irisdb.list_collections():
    print(collections,'\n')

{'name': 'iriscollection', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': Binary(b'\x19\x921\x994\xafN4\xba\x05\x04\xdc\xde\xdf\x8b\xb3', 4)}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}

{'name': 'versicolor', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': Binary(b')4\x85J\xe5\xf2H\x9d\x9f\xc5\xa6\x15S\xa7\xfb&', 4)}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}

{'name': 'virginica', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': Binary(b',\xd5\x7f\x0c\xf0d@I\xbcP\xf9\xd9qO6\x1c', 4)}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}

{'name': 'setosa', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': Binary(b'\xe6\xca\xd1\x04/1B\xb2\x86\x02#\xffK\xf2\xed\x98', 4)}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}

# find in depth

In [70]:
for index,record in enumerate(client.irisdb.iriscollection.find({'species':'virginica'})):  # only with filter object
    if index <= 20:
        print(record)

# only first 20 records where species is virginica

{'_id': ObjectId('62f0cbb254dded26d864af7f'), 'sepal_length': 6.3, 'sepal_width': 3.3, 'petal_length': 6.0, 'petal_width': 2.5, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af80'), 'sepal_length': 5.8, 'sepal_width': 2.7, 'petal_length': 5.1, 'petal_width': 1.9, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af81'), 'sepal_length': 7.1, 'sepal_width': 3.0, 'petal_length': 5.9, 'petal_width': 2.1, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af82'), 'sepal_length': 6.3, 'sepal_width': 2.9, 'petal_length': 5.6, 'petal_width': 1.8, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af83'), 'sepal_length': 6.5, 'sepal_width': 3.0, 'petal_length': 5.8, 'petal_width': 2.2, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af84'), 'sepal_length': 7.6, 'sepal_width': 3.0, 'petal_length': 6.6, 'petal_width': 2.1, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af85'), 'sepal_length': 4.9, 'sepal_width': 2.5, 'petal_length': 4.5, 'petal_width': 1.7, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af86'), 'sepal_length': 7.3, 'sepal_width': 2.9, 'petal_length': 6.3, 'petal_width': 1.8, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af87'), 'sepal_length': 6.7, 'sepal_width': 2.5, 'petal_length': 5.8, 'petal_width': 1.8, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af88'), 'sepal_length': 7.2, 'sepal_width': 3.6, 'petal_length': 6.1, 'petal_width': 2.5, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af89'), 'sepal_length': 6.5, 'sepal_width': 3.2, 'petal_length': 5.1, 'petal_width': 2.0, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8a'), 'sepal_length': 6.4, 'sepal_width': 2.7, 'petal_length': 5.3, 'petal_width': 1.9, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8b'), 'sepal_length': 6.8, 'sepal_width': 3.0, 'petal_length': 5.5, 'petal_width': 2.1, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8c'), 'sepal_length': 5.7, 'sepal_width': 2.5, 'petal_length': 5.0, 'petal_width': 2.0, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8d'), 'sepal_length': 5.8, 'sepal_width': 2.8, 'petal_length': 5.1, 'petal_width': 2.4, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8e'), 'sepal_length': 6.4, 'sepal_width': 3.2, 'petal_length': 5.3, 'petal_width': 2.3, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af8f'), 'sepal_length': 6.5, 'sepal_width': 3.0, 'petal_length': 5.5, 'petal_width': 1.8, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af90'), 'sepal_length': 7.7, 'sepal_width': 3.8, 'petal_length': 6.7, 'petal_width': 2.2, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af91'), 'sepal_length': 7.7, 'sepal_width': 2.6, 'petal_length': 6.9, 'petal_width': 2.3, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af92'), 'sepal_length': 6.0, 'sepal_width': 2.2, 'petal_length': 5.0, 'petal_width': 1.5, 'species': 'virginica'}
{'_id': ObjectId('62f0cbb254dded26d864af93'), 'sepal_length': 6.9, 'sepal_width': 3.2, 'petal_length': 5.7, 'petal_width': 2.3, 'species': 'virginica'}

In [72]:
for index , record in enumerate(client.irisdb.iriscollection.find({'species':'virginica'},{'sepal_length':1,'petal_length':1,'_id':0})):
    if index <=10:
        print(record)

# filtere object  +   selection object

{'sepal_length': 6.3, 'petal_length': 6.0}
{'sepal_length': 5.8, 'petal_length': 5.1}
{'sepal_length': 7.1, 'petal_length': 5.9}
{'sepal_length': 6.3, 'petal_length': 5.6}
{'sepal_length': 6.5, 'petal_length': 5.8}
{'sepal_length': 7.6, 'petal_length': 6.6}
{'sepal_length': 4.9, 'petal_length': 4.5}
{'sepal_length': 7.3, 'petal_length': 6.3}
{'sepal_length': 6.7, 'petal_length': 5.8}
{'sepal_length': 7.2, 'petal_length': 6.1}
{'sepal_length': 6.5, 'petal_length': 5.1}

In [74]:
for i in client.irisdb.iriscollection.find({},{'sepal_length':1,'petal_length':1,'_id':0}):
    print(i)
    
# get the columns without filter object
# there empty filter object define mandatory otherwise it will assume
# the selection object dict as a filter object

{'sepal_length': 5.1, 'petal_length': 1.4}
{'sepal_length': 5.1, 'petal_length': 1.4}
{'sepal_length': 4.9, 'petal_length': 1.4}
{'sepal_length': 4.7, 'petal_length': 1.3}
{'sepal_length': 4.6, 'petal_length': 1.5}
{'sepal_length': 5.0, 'petal_length': 1.4}
{'sepal_length': 5.4, 'petal_length': 1.7}
{'sepal_length': 4.6, 'petal_length': 1.4}
{'sepal_length': 5.0, 'petal_length': 1.5}
{'sepal_length': 4.4, 'petal_length': 1.4}
{'sepal_length': 4.9, 'petal_length': 1.5}
{'sepal_length': 5.4, 'petal_length': 1.5}
{'sepal_length': 5.1, 'petal_length': 1.4}
{'sepal_length': 4.9, 'petal_length': 1.4}
{'sepal_length': 4.7, 'petal_length': 1.3}
{'sepal_length': 4.6, 'petal_length': 1.5}
{'sepal_length': 5.0, 'petal_length': 1.4}
{'sepal_length': 5.4, 'petal_length': 1.7}
{'sepal_length': 4.6, 'petal_length': 1.4}
{'sepal_length': 5.0, 'petal_length': 1.5}
{'sepal_length': 4.4, 'petal_length': 1.4}
{'sepal_length': 4.9, 'petal_length': 1.5}
{'sepal_length': 5.4, 'petal_length': 1.5}
{'sepal_length': 4.8, 'petal_length': 1.6}
{'sepal_length': 4.8, 'petal_length': 1.4}
{'sepal_length': 4.3, 'petal_length': 1.1}
{'sepal_length': 5.8, 'petal_length': 1.2}
{'sepal_length': 5.7, 'petal_length': 1.5}
{'sepal_length': 5.4, 'petal_length': 1.3}
{'sepal_length': 5.1, 'petal_length': 1.4}
{'sepal_length': 5.7, 'petal_length': 1.7}
{'sepal_length': 5.1, 'petal_length': 1.5}
{'sepal_length': 5.4, 'petal_length': 1.7}
{'sepal_length': 5.1, 'petal_length': 1.5}
{'sepal_length': 4.6, 'petal_length': 1.0}
{'sepal_length': 5.1, 'petal_length': 1.7}
{'sepal_length': 4.8, 'petal_length': 1.9}
{'sepal_length': 5.0, 'petal_length': 1.6}
{'sepal_length': 5.0, 'petal_length': 1.6}
{'sepal_length': 5.2, 'petal_length': 1.5}
{'sepal_length': 5.2, 'petal_length': 1.4}
{'sepal_length': 4.7, 'petal_length': 1.6}
{'sepal_length': 4.8, 'petal_length': 1.6}
{'sepal_length': 5.4, 'petal_length': 1.5}
{'sepal_length': 5.2, 'petal_length': 1.5}
{'sepal_length': 5.5, 'petal_length': 1.4}
{'sepal_length': 4.9, 'petal_length': 1.5}
{'sepal_length': 5.0, 'petal_length': 1.2}
{'sepal_length': 5.5, 'petal_length': 1.3}
{'sepal_length': 4.9, 'petal_length': 1.4}
{'sepal_length': 4.4, 'petal_length': 1.3}
{'sepal_length': 5.1, 'petal_length': 1.5}
{'sepal_length': 5.0, 'petal_length': 1.3}
{'sepal_length': 4.5, 'petal_length': 1.3}
{'sepal_length': 4.4, 'petal_length': 1.3}
{'sepal_length': 5.0, 'petal_length': 1.6}
{'sepal_length': 5.1, 'petal_length': 1.9}
{'sepal_length': 4.8, 'petal_length': 1.4}
{'sepal_length': 5.1, 'petal_length': 1.6}
{'sepal_length': 4.6, 'petal_length': 1.4}
{'sepal_length': 5.3, 'petal_length': 1.5}
{'sepal_length': 5.0, 'petal_length': 1.4}
{'sepal_length': 7.0, 'petal_length': 4.7}
{'sepal_length': 6.4, 'petal_length': 4.5}
{'sepal_length': 6.9, 'petal_length': 4.9}
{'sepal_length': 5.5, 'petal_length': 4.0}
{'sepal_length': 6.5, 'petal_length': 4.6}
{'sepal_length': 5.7, 'petal_length': 4.5}
{'sepal_length': 6.3, 'petal_length': 4.7}
{'sepal_length': 4.9, 'petal_length': 3.3}
{'sepal_length': 6.6, 'petal_length': 4.6}
{'sepal_length': 5.2, 'petal_length': 3.9}
{'sepal_length': 5.0, 'petal_length': 3.5}
{'sepal_length': 5.9, 'petal_length': 4.2}
{'sepal_length': 6.0, 'petal_length': 4.0}
{'sepal_length': 6.1, 'petal_length': 4.7}
{'sepal_length': 5.6, 'petal_length': 3.6}
{'sepal_length': 6.7, 'petal_length': 4.4}
{'sepal_length': 5.6, 'petal_length': 4.5}
{'sepal_length': 5.8, 'petal_length': 4.1}
{'sepal_length': 6.2, 'petal_length': 4.5}
{'sepal_length': 5.6, 'petal_length': 3.9}
{'sepal_length': 5.9, 'petal_length': 4.8}
{'sepal_length': 6.1, 'petal_length': 4.0}
{'sepal_length': 6.3, 'petal_length': 4.9}
{'sepal_length': 6.1, 'petal_length': 4.7}
{'sepal_length': 6.4, 'petal_length': 4.3}
{'sepal_length': 6.6, 'petal_length': 4.4}
{'sepal_length': 6.8, 'petal_length': 4.8}
{'sepal_length': 6.7, 'petal_length': 5.0}
{'sepal_length': 6.0, 'petal_length': 4.5}
{'sepal_length': 5.7, 'petal_length': 3.5}
{'sepal_length': 5.5, 'petal_length': 3.8}
{'sepal_length': 5.5, 'petal_length': 3.7}
{'sepal_length': 5.8, 'petal_length': 3.9}
{'sepal_length': 6.0, 'petal_length': 5.1}
{'sepal_length': 5.4, 'petal_length': 4.5}
{'sepal_length': 6.0, 'petal_length': 4.5}
{'sepal_length': 6.7, 'petal_length': 4.7}
{'sepal_length': 6.3, 'petal_length': 4.4}
{'sepal_length': 5.6, 'petal_length': 4.1}
{'sepal_length': 5.5, 'petal_length': 4.0}
{'sepal_length': 5.5, 'petal_length': 4.4}
{'sepal_length': 6.1, 'petal_length': 4.6}
{'sepal_length': 5.8, 'petal_length': 4.0}
{'sepal_length': 5.0, 'petal_length': 3.3}
{'sepal_length': 5.6, 'petal_length': 4.2}
{'sepal_length': 5.7, 'petal_length': 4.2}
{'sepal_length': 5.7, 'petal_length': 4.2}
{'sepal_length': 6.2, 'petal_length': 4.3}
{'sepal_length': 5.1, 'petal_length': 3.0}
{'sepal_length': 5.7, 'petal_length': 4.1}
{'sepal_length': 6.3, 'petal_length': 6.0}
{'sepal_length': 5.8, 'petal_length': 5.1}
{'sepal_length': 7.1, 'petal_length': 5.9}
{'sepal_length': 6.3, 'petal_length': 5.6}
{'sepal_length': 6.5, 'petal_length': 5.8}
{'sepal_length': 7.6, 'petal_length': 6.6}
{'sepal_length': 4.9, 'petal_length': 4.5}
{'sepal_length': 7.3, 'petal_length': 6.3}
{'sepal_length': 6.7, 'petal_length': 5.8}
{'sepal_length': 7.2, 'petal_length': 6.1}
{'sepal_length': 6.5, 'petal_length': 5.1}
{'sepal_length': 6.4, 'petal_length': 5.3}
{'sepal_length': 6.8, 'petal_length': 5.5}
{'sepal_length': 5.7, 'petal_length': 5.0}
{'sepal_length': 5.8, 'petal_length': 5.1}
{'sepal_length': 6.4, 'petal_length': 5.3}
{'sepal_length': 6.5, 'petal_length': 5.5}
{'sepal_length': 7.7, 'petal_length': 6.7}
{'sepal_length': 7.7, 'petal_length': 6.9}
{'sepal_length': 6.0, 'petal_length': 5.0}
{'sepal_length': 6.9, 'petal_length': 5.7}
{'sepal_length': 5.6, 'petal_length': 4.9}
{'sepal_length': 7.7, 'petal_length': 6.7}
{'sepal_length': 6.3, 'petal_length': 4.9}
{'sepal_length': 6.7, 'petal_length': 5.7}
{'sepal_length': 7.2, 'petal_length': 6.0}
{'sepal_length': 6.2, 'petal_length': 4.8}
{'sepal_length': 6.1, 'petal_length': 4.9}
{'sepal_length': 6.4, 'petal_length': 5.6}
{'sepal_length': 7.2, 'petal_length': 5.8}
{'sepal_length': 7.4, 'petal_length': 6.1}
{'sepal_length': 7.9, 'petal_length': 6.4}
{'sepal_length': 6.4, 'petal_length': 5.6}
{'sepal_length': 6.3, 'petal_length': 5.1}
{'sepal_length': 6.1, 'petal_length': 5.6}
{'sepal_length': 7.7, 'petal_length': 6.1}
{'sepal_length': 6.3, 'petal_length': 5.6}
{'sepal_length': 6.4, 'petal_length': 5.5}
{'sepal_length': 6.0, 'petal_length': 4.8}
{'sepal_length': 6.9, 'petal_length': 5.4}
{'sepal_length': 6.7, 'petal_length': 5.6}
{'sepal_length': 6.9, 'petal_length': 5.1}
{'sepal_length': 5.8, 'petal_length': 5.1}
{'sepal_length': 6.8, 'petal_length': 5.9}
{'sepal_length': 6.7, 'petal_length': 5.7}
{'sepal_length': 6.7, 'petal_length': 5.2}
{'sepal_length': 6.3, 'petal_length': 5.0}
{'sepal_length': 6.5, 'petal_length': 5.2}
{'sepal_length': 6.2, 'petal_length': 5.4}
{'sepal_length': 5.9, 'petal_length': 5.1}

In [88]:
client.irisdb.iriscollection.count_documents({})


# for total no. of entry

162

In [89]:
client.irisdb.iriscollection.count_documents({'species':'setosa'})

62

In [97]:
client.irisdb.iriscollection.update_one({'species':'setosa'},{'$set':{'species':'Rose'}})


# ({ : } ,  { : { : }})        -----> {condition}  {'parameter':  {value with key}}

# update_one() it will update only single document

# now i will chek

In [101]:
for i in client.irisdb.iriscollection.find({'species':'Rose'}):
    print(i['species'])

Rose

In [102]:
client.irisdb.iriscollection.count_documents({'species':'Rose'})

# as you can see

1

# complex filter object

In [4]:
client.irisdb.iriscollection.count_documents({})

162

In [5]:
iris=client.irisdb.iriscollection

In [8]:
for i in iris.find({'species':{'$in':['setosa','virginica']}},{'_id':0,'species':1}):
    print(i)

{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}

In [10]:
iris.count_documents({'species':{'$in':['setosa','virginica']}})

111

In [13]:
for i in iris.find({'species':{'$in':['setosa','virginica']}},{'_id':0,'species':1}).limit(2):
    print(i)f
# with limit

{'species': 'setosa'}
{'species': 'setosa'}

In [15]:
for i in iris.find({'species':{'$in':['setosa','virginica']}},{'_id':0,'species':1}).skip(42):
    print(i)
# with limit

{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'setosa'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}
{'species': 'virginica'}

# for rename the columns

In [20]:
iris.update_many({},{'$rename':{'species':'category'}})

In [28]:
list(iris.find_one().keys())[-1]

'category'

# AND

In [33]:
for i in iris.find({'$and':[{'category':'setosa'},{'petal_length':{'$lte':5}}]},{'category':1,'petal_length':1,'_id':0}):
    print(i)

iris.count_documents({'$and':[{'category':'setosa'},{'petal_length':{'$lte':5}}]})
# this result is based on and operator with selection object

{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.1, 'category': 'setosa'}
{'petal_length': 1.2, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.0, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.9, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.2, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.9, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}

61

# OR    Ooperation

In [34]:
for i in iris.find({'$or':[{'category':'setosa'},{'petal_length':{'$gte':5}}]},{'category':1,'petal_length':1,'_id':0}):
    print(i)

iris.count_documents({'$or':[{'category':'setosa'},{'petal_length':{'$gte':5}}]})
# this result is based on and operator with selection object

{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.1, 'category': 'setosa'}
{'petal_length': 1.2, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.0, 'category': 'setosa'}
{'petal_length': 1.7, 'category': 'setosa'}
{'petal_length': 1.9, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.2, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.3, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.9, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.6, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 1.5, 'category': 'setosa'}
{'petal_length': 1.4, 'category': 'setosa'}
{'petal_length': 5.0, 'category': 'versicolor'}
{'petal_length': 5.1, 'category': 'versicolor'}
{'petal_length': 6.0, 'category': 'virginica'}
{'petal_length': 5.1, 'category': 'virginica'}
{'petal_length': 5.9, 'category': 'virginica'}
{'petal_length': 5.6, 'category': 'virginica'}
{'petal_length': 5.8, 'category': 'virginica'}
{'petal_length': 6.6, 'category': 'virginica'}
{'petal_length': 6.3, 'category': 'virginica'}
{'petal_length': 5.8, 'category': 'virginica'}
{'petal_length': 6.1, 'category': 'virginica'}
{'petal_length': 5.1, 'category': 'virginica'}
{'petal_length': 5.3, 'category': 'virginica'}
{'petal_length': 5.5, 'category': 'virginica'}
{'petal_length': 5.0, 'category': 'virginica'}
{'petal_length': 5.1, 'category': 'virginica'}
{'petal_length': 5.3, 'category': 'virginica'}
{'petal_length': 5.5, 'category': 'virginica'}
{'petal_length': 6.7, 'category': 'virginica'}
{'petal_length': 6.9, 'category': 'virginica'}
{'petal_length': 5.0, 'category': 'virginica'}
{'petal_length': 5.7, 'category': 'virginica'}
{'petal_length': 6.7, 'category': 'virginica'}
{'petal_length': 5.7, 'category': 'virginica'}
{'petal_length': 6.0, 'category': 'virginica'}
{'petal_length': 5.6, 'category': 'virginica'}
{'petal_length': 5.8, 'category': 'virginica'}
{'petal_length': 6.1, 'category': 'virginica'}
{'petal_length': 6.4, 'category': 'virginica'}
{'petal_length': 5.6, 'category': 'virginica'}
{'petal_length': 5.1, 'category': 'virginica'}
{'petal_length': 5.6, 'category': 'virginica'}
{'petal_length': 6.1, 'category': 'virginica'}
{'petal_length': 5.6, 'category': 'virginica'}
{'petal_length': 5.5, 'category': 'virginica'}
{'petal_length': 5.4, 'category': 'virginica'}
{'petal_length': 5.6, 'category': 'virginica'}
{'petal_length': 5.1, 'category': 'virginica'}
{'petal_length': 5.1, 'category': 'virginica'}
{'petal_length': 5.9, 'category': 'virginica'}
{'petal_length': 5.7, 'category': 'virginica'}
{'petal_length': 5.2, 'category': 'virginica'}
{'petal_length': 5.0, 'category': 'virginica'}
{'petal_length': 5.2, 'category': 'virginica'}
{'petal_length': 5.4, 'category': 'virginica'}
{'petal_length': 5.1, 'category': 'virginica'}

107

In [39]:
df=pd.read_csv('iris.csv')
df.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [57]:
with open('iris.csv','r') as fil:
    readdata=fil.read()
print(readdata)

# absolute data of csv file

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa
10,5.4,3.7,1.5,0.2,setosa
11,4.8,3.4,1.6,0.2,setosa
12,4.8,3.0,1.4,0.1,setosa
13,4.3,3.0,1.1,0.1,setosa
14,5.8,4.0,1.2,0.2,setosa
15,5.7,4.4,1.5,0.4,setosa
16,5.4,3.9,1.3,0.4,setosa
17,5.1,3.5,1.4,0.3,setosa
18,5.7,3.8,1.7,0.3,setosa
19,5.1,3.8,1.5,0.3,setosa
20,5.4,3.4,1.7,0.2,setosa
21,5.1,3.7,1.5,0.4,setosa
22,4.6,3.6,1.0,0.2,setosa
23,5.1,3.3,1.7,0.5,setosa
24,4.8,3.4,1.9,0.2,setosa
25,5.0,3.0,1.6,0.2,setosa
26,5.0,3.4,1.6,0.4,setosa
27,5.2,3.5,1.5,0.2,setosa
28,5.2,3.4,1.4,0.2,setosa
29,4.7,3.2,1.6,0.2,setosa
30,4.8,3.1,1.6,0.2,setosa
31,5.4,3.4,1.5,0.4,setosa
32,5.2,4.1,1.5,0.1,setosa
33,5.5,4.2,1.4,0.2,setosa
34,4.9,3.1,1.5,0.2,setosa
35,5.0,3.2,1.2,0.2,setosa
36,5.5,3.5,1.3,0.2,setosa
37,4.9,3.6,1.4,0.1,setosa
38,4.4,3.0,1.3,0.2,setosa
39,5.1,3.4,1.5,0.2,setosa
40,5.0,3.5,1.3,0.3,setosa
41,4.5,2.3,1.3,0.3,setosa
42,4.4,3.2,1.3,0.2,setosa
43,5.0,3.5,1.6,0.6,setosa
44,5.1,3.8,1.9,0.4,setosa
45,4.8,3.0,1.4,0.3,setosa
46,5.1,3.8,1.6,0.2,setosa
47,4.6,3.2,1.4,0.2,setosa
48,5.3,3.7,1.5,0.2,setosa
49,5.0,3.3,1.4,0.2,setosa
50,7.0,3.2,4.7,1.4,versicolor
51,6.4,3.2,4.5,1.5,versicolor
52,6.9,3.1,4.9,1.5,versicolor
53,5.5,2.3,4.0,1.3,versicolor
54,6.5,2.8,4.6,1.5,versicolor
55,5.7,2.8,4.5,1.3,versicolor
56,6.3,3.3,4.7,1.6,versicolor
57,4.9,2.4,3.3,1.0,versicolor
58,6.6,2.9,4.6,1.3,versicolor
59,5.2,2.7,3.9,1.4,versicolor
60,5.0,2.0,3.5,1.0,versicolor
61,5.9,3.0,4.2,1.5,versicolor
62,6.0,2.2,4.0,1.0,versicolor
63,6.1,2.9,4.7,1.4,versicolor
64,5.6,2.9,3.6,1.3,versicolor
65,6.7,3.1,4.4,1.4,versicolor
66,5.6,3.0,4.5,1.5,versicolor
67,5.8,2.7,4.1,1.0,versicolor
68,6.2,2.2,4.5,1.5,versicolor
69,5.6,2.5,3.9,1.1,versicolor
70,5.9,3.2,4.8,1.8,versicolor
71,6.1,2.8,4.0,1.3,versicolor
72,6.3,2.5,4.9,1.5,versicolor
73,6.1,2.8,4.7,1.2,versicolor
74,6.4,2.9,4.3,1.3,versicolor
75,6.6,3.0,4.4,1.4,versicolor
76,6.8,2.8,4.8,1.4,versicolor
77,6.7,3.0,5.0,1.7,versicolor
78,6.0,2.9,4.5,1.5,versicolor
79,5.7,2.6,3.5,1.0,versicolor
80,5.5,2.4,3.8,1.1,versicolor
81,5.5,2.4,3.7,1.0,versicolor
82,5.8,2.7,3.9,1.2,versicolor
83,6.0,2.7,5.1,1.6,versicolor
84,5.4,3.0,4.5,1.5,versicolor
85,6.0,3.4,4.5,1.6,versicolor
86,6.7,3.1,4.7,1.5,versicolor
87,6.3,2.3,4.4,1.3,versicolor
88,5.6,3.0,4.1,1.3,versicolor
89,5.5,2.5,4.0,1.3,versicolor
90,5.5,2.6,4.4,1.2,versicolor
91,6.1,3.0,4.6,1.4,versicolor
92,5.8,2.6,4.0,1.2,versicolor
93,5.0,2.3,3.3,1.0,versicolor
94,5.6,2.7,4.2,1.3,versicolor
95,5.7,3.0,4.2,1.2,versicolor
96,5.7,2.9,4.2,1.3,versicolor
97,6.2,2.9,4.3,1.3,versicolor
98,5.1,2.5,3.0,1.1,versicolor
99,5.7,2.8,4.1,1.3,versicolor
100,6.3,3.3,6.0,2.5,virginica
101,5.8,2.7,5.1,1.9,virginica
102,7.1,3.0,5.9,2.1,virginica
103,6.3,2.9,5.6,1.8,virginica
104,6.5,3.0,5.8,2.2,virginica
105,7.6,3.0,6.6,2.1,virginica
106,4.9,2.5,4.5,1.7,virginica
107,7.3,2.9,6.3,1.8,virginica
108,6.7,2.5,5.8,1.8,virginica
109,7.2,3.6,6.1,2.5,virginica
110,6.5,3.2,5.1,2.0,virginica
111,6.4,2.7,5.3,1.9,virginica
112,6.8,3.0,5.5,2.1,virginica
113,5.7,2.5,5.0,2.0,virginica
114,5.8,2.8,5.1,2.4,virginica
115,6.4,3.2,5.3,2.3,virginica
116,6.5,3.0,5.5,1.8,virginica
117,7.7,3.8,6.7,2.2,virginica
118,7.7,2.6,6.9,2.3,virginica
119,6.0,2.2,5.0,1.5,virginica
120,6.9,3.2,5.7,2.3,virginica
121,5.6,2.8,4.9,2.0,virginica
122,7.7,2.8,6.7,2.0,virginica
123,6.3,2.7,4.9,1.8,virginica
124,6.7,3.3,5.7,2.1,virginica
125,7.2,3.2,6.0,1.8,virginica
126,6.2,2.8,4.8,1.8,virginica
127,6.1,3.0,4.9,1.8,virginica
128,6.4,2.8,5.6,2.1,virginica
129,7.2,3.0,5.8,1.6,virginica
130,7.4,2.8,6.1,1.9,virginica
131,7.9,3.8,6.4,2.0,virginica
132,6.4,2.8,5.6,2.2,virginica
133,6.3,2.8,5.1,1.5,virginica
134,6.1,2.6,5.6,1.4,virginica
135,7.7,3.0,6.1,2.3,virginica
136,6.3,3.4,5.6,2.4,virginica
137,6.4,3.1,5.5,1.8,virginica
138,6.0,3.0,4.8,1.8,virginica
139,6.9,3.1,5.4,2.1,virginica
140,6.7,3.1,5.6,2.4,virginica
141,6.9,3.1,5.1,2.3,virginica
142,5.8,2.7,5.1,1.9,virginica
143,6.8,3.2,5.9,2.3,virginica
144,6.7,3.3,5.7,2.5,virginica
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [48]:
with open('iris.csv','r') as fil:
    data=fil.readlines()
print(data)

# [  ,   ,  ,  ,   ,]

[',sepal_length,sepal_width,petal_length,petal_width,species\n', '0,5.1,3.5,1.4,0.2,setosa\n', '1,4.9,3.0,1.4,0.2,setosa\n', '2,4.7,3.2,1.3,0.2,setosa\n', '3,4.6,3.1,1.5,0.2,setosa\n', '4,5.0,3.6,1.4,0.2,setosa\n', '5,5.4,3.9,1.7,0.4,setosa\n', '6,4.6,3.4,1.4,0.3,setosa\n', '7,5.0,3.4,1.5,0.2,setosa\n', '8,4.4,2.9,1.4,0.2,setosa\n', '9,4.9,3.1,1.5,0.1,setosa\n', '10,5.4,3.7,1.5,0.2,setosa\n', '11,4.8,3.4,1.6,0.2,setosa\n', '12,4.8,3.0,1.4,0.1,setosa\n', '13,4.3,3.0,1.1,0.1,setosa\n', '14,5.8,4.0,1.2,0.2,setosa\n', '15,5.7,4.4,1.5,0.4,setosa\n', '16,5.4,3.9,1.3,0.4,setosa\n', '17,5.1,3.5,1.4,0.3,setosa\n', '18,5.7,3.8,1.7,0.3,setosa\n', '19,5.1,3.8,1.5,0.3,setosa\n', '20,5.4,3.4,1.7,0.2,setosa\n', '21,5.1,3.7,1.5,0.4,setosa\n', '22,4.6,3.6,1.0,0.2,setosa\n', '23,5.1,3.3,1.7,0.5,setosa\n', '24,4.8,3.4,1.9,0.2,setosa\n', '25,5.0,3.0,1.6,0.2,setosa\n', '26,5.0,3.4,1.6,0.4,setosa\n', '27,5.2,3.5,1.5,0.2,setosa\n', '28,5.2,3.4,1.4,0.2,setosa\n', '29,4.7,3.2,1.6,0.2,setosa\n', '30,4.8,3.1,1.6,0.2,setosa\n', '31,5.4,3.4,1.5,0.4,setosa\n', '32,5.2,4.1,1.5,0.1,setosa\n', '33,5.5,4.2,1.4,0.2,setosa\n', '34,4.9,3.1,1.5,0.2,setosa\n', '35,5.0,3.2,1.2,0.2,setosa\n', '36,5.5,3.5,1.3,0.2,setosa\n', '37,4.9,3.6,1.4,0.1,setosa\n', '38,4.4,3.0,1.3,0.2,setosa\n', '39,5.1,3.4,1.5,0.2,setosa\n', '40,5.0,3.5,1.3,0.3,setosa\n', '41,4.5,2.3,1.3,0.3,setosa\n', '42,4.4,3.2,1.3,0.2,setosa\n', '43,5.0,3.5,1.6,0.6,setosa\n', '44,5.1,3.8,1.9,0.4,setosa\n', '45,4.8,3.0,1.4,0.3,setosa\n', '46,5.1,3.8,1.6,0.2,setosa\n', '47,4.6,3.2,1.4,0.2,setosa\n', '48,5.3,3.7,1.5,0.2,setosa\n', '49,5.0,3.3,1.4,0.2,setosa\n', '50,7.0,3.2,4.7,1.4,versicolor\n', '51,6.4,3.2,4.5,1.5,versicolor\n', '52,6.9,3.1,4.9,1.5,versicolor\n', '53,5.5,2.3,4.0,1.3,versicolor\n', '54,6.5,2.8,4.6,1.5,versicolor\n', '55,5.7,2.8,4.5,1.3,versicolor\n', '56,6.3,3.3,4.7,1.6,versicolor\n', '57,4.9,2.4,3.3,1.0,versicolor\n', '58,6.6,2.9,4.6,1.3,versicolor\n', '59,5.2,2.7,3.9,1.4,versicolor\n', '60,5.0,2.0,3.5,1.0,versicolor\n', '61,5.9,3.0,4.2,1.5,versicolor\n', '62,6.0,2.2,4.0,1.0,versicolor\n', '63,6.1,2.9,4.7,1.4,versicolor\n', '64,5.6,2.9,3.6,1.3,versicolor\n', '65,6.7,3.1,4.4,1.4,versicolor\n', '66,5.6,3.0,4.5,1.5,versicolor\n', '67,5.8,2.7,4.1,1.0,versicolor\n', '68,6.2,2.2,4.5,1.5,versicolor\n', '69,5.6,2.5,3.9,1.1,versicolor\n', '70,5.9,3.2,4.8,1.8,versicolor\n', '71,6.1,2.8,4.0,1.3,versicolor\n', '72,6.3,2.5,4.9,1.5,versicolor\n', '73,6.1,2.8,4.7,1.2,versicolor\n', '74,6.4,2.9,4.3,1.3,versicolor\n', '75,6.6,3.0,4.4,1.4,versicolor\n', '76,6.8,2.8,4.8,1.4,versicolor\n', '77,6.7,3.0,5.0,1.7,versicolor\n', '78,6.0,2.9,4.5,1.5,versicolor\n', '79,5.7,2.6,3.5,1.0,versicolor\n', '80,5.5,2.4,3.8,1.1,versicolor\n', '81,5.5,2.4,3.7,1.0,versicolor\n', '82,5.8,2.7,3.9,1.2,versicolor\n', '83,6.0,2.7,5.1,1.6,versicolor\n', '84,5.4,3.0,4.5,1.5,versicolor\n', '85,6.0,3.4,4.5,1.6,versicolor\n', '86,6.7,3.1,4.7,1.5,versicolor\n', '87,6.3,2.3,4.4,1.3,versicolor\n', '88,5.6,3.0,4.1,1.3,versicolor\n', '89,5.5,2.5,4.0,1.3,versicolor\n', '90,5.5,2.6,4.4,1.2,versicolor\n', '91,6.1,3.0,4.6,1.4,versicolor\n', '92,5.8,2.6,4.0,1.2,versicolor\n', '93,5.0,2.3,3.3,1.0,versicolor\n', '94,5.6,2.7,4.2,1.3,versicolor\n', '95,5.7,3.0,4.2,1.2,versicolor\n', '96,5.7,2.9,4.2,1.3,versicolor\n', '97,6.2,2.9,4.3,1.3,versicolor\n', '98,5.1,2.5,3.0,1.1,versicolor\n', '99,5.7,2.8,4.1,1.3,versicolor\n', '100,6.3,3.3,6.0,2.5,virginica\n', '101,5.8,2.7,5.1,1.9,virginica\n', '102,7.1,3.0,5.9,2.1,virginica\n', '103,6.3,2.9,5.6,1.8,virginica\n', '104,6.5,3.0,5.8,2.2,virginica\n', '105,7.6,3.0,6.6,2.1,virginica\n', '106,4.9,2.5,4.5,1.7,virginica\n', '107,7.3,2.9,6.3,1.8,virginica\n', '108,6.7,2.5,5.8,1.8,virginica\n', '109,7.2,3.6,6.1,2.5,virginica\n', '110,6.5,3.2,5.1,2.0,virginica\n', '111,6.4,2.7,5.3,1.9,virginica\n', '112,6.8,3.0,5.5,2.1,virginica\n', '113,5.7,2.5,5.0,2.0,virginica\n', '114,5.8,2.8,5.1,2.4,virginica\n', '115,6.4,3.2,5.3,2.3,virginica\n', '116,6.5,3.0,5.5,1.8,virginica\n', '117,7.7,3.8,6.7,2.2,virginica\n', '118,7.7,2.6,6.9,2.3,virginica\n', '119,6.0,2.2,5.0,1.5,virginica\n', '120,6.9,3.2,5.7,2.3,virginica\n', '121,5.6,2.8,4.9,2.0,virginica\n', '122,7.7,2.8,6.7,2.0,virginica\n', '123,6.3,2.7,4.9,1.8,virginica\n', '124,6.7,3.3,5.7,2.1,virginica\n', '125,7.2,3.2,6.0,1.8,virginica\n', '126,6.2,2.8,4.8,1.8,virginica\n', '127,6.1,3.0,4.9,1.8,virginica\n', '128,6.4,2.8,5.6,2.1,virginica\n', '129,7.2,3.0,5.8,1.6,virginica\n', '130,7.4,2.8,6.1,1.9,virginica\n', '131,7.9,3.8,6.4,2.0,virginica\n', '132,6.4,2.8,5.6,2.2,virginica\n', '133,6.3,2.8,5.1,1.5,virginica\n', '134,6.1,2.6,5.6,1.4,virginica\n', '135,7.7,3.0,6.1,2.3,virginica\n', '136,6.3,3.4,5.6,2.4,virginica\n', '137,6.4,3.1,5.5,1.8,virginica\n', '138,6.0,3.0,4.8,1.8,virginica\n', '139,6.9,3.1,5.4,2.1,virginica\n', '140,6.7,3.1,5.6,2.4,virginica\n', '141,6.9,3.1,5.1,2.3,virginica\n', '142,5.8,2.7,5.1,1.9,virginica\n', '143,6.8,3.2,5.9,2.3,virginica\n', '144,6.7,3.3,5.7,2.5,virginica\n', '145,6.7,3.0,5.2,2.3,virginica\n', '146,6.3,2.5,5.0,1.9,virginica\n', '147,6.5,3.0,5.2,2.0,virginica\n', '148,6.2,3.4,5.4,2.3,virginica\n', '149,5.9,3.0,5.1,1.8,virginica\n']

In [49]:
data

[',sepal_length,sepal_width,petal_length,petal_width,species\n',
 '0,5.1,3.5,1.4,0.2,setosa\n',
 '1,4.9,3.0,1.4,0.2,setosa\n',
 '2,4.7,3.2,1.3,0.2,setosa\n',
 '3,4.6,3.1,1.5,0.2,setosa\n',
 '4,5.0,3.6,1.4,0.2,setosa\n',
 '5,5.4,3.9,1.7,0.4,setosa\n',
 '6,4.6,3.4,1.4,0.3,setosa\n',
 '7,5.0,3.4,1.5,0.2,setosa\n',
 '8,4.4,2.9,1.4,0.2,setosa\n',
 '9,4.9,3.1,1.5,0.1,setosa\n',
 '10,5.4,3.7,1.5,0.2,setosa\n',
 '11,4.8,3.4,1.6,0.2,setosa\n',
 '12,4.8,3.0,1.4,0.1,setosa\n',
 '13,4.3,3.0,1.1,0.1,setosa\n',
 '14,5.8,4.0,1.2,0.2,setosa\n',
 '15,5.7,4.4,1.5,0.4,setosa\n',
 '16,5.4,3.9,1.3,0.4,setosa\n',
 '17,5.1,3.5,1.4,0.3,setosa\n',
 '18,5.7,3.8,1.7,0.3,setosa\n',
 '19,5.1,3.8,1.5,0.3,setosa\n',
 '20,5.4,3.4,1.7,0.2,setosa\n',
 '21,5.1,3.7,1.5,0.4,setosa\n',
 '22,4.6,3.6,1.0,0.2,setosa\n',
 '23,5.1,3.3,1.7,0.5,setosa\n',
 '24,4.8,3.4,1.9,0.2,setosa\n',
 '25,5.0,3.0,1.6,0.2,setosa\n',
 '26,5.0,3.4,1.6,0.4,setosa\n',
 '27,5.2,3.5,1.5,0.2,setosa\n',
 '28,5.2,3.4,1.4,0.2,setosa\n',
 '29,4.7,3.2,1.6,0.2,setosa\n',
 '30,4.8,3.1,1.6,0.2,setosa\n',
 '31,5.4,3.4,1.5,0.4,setosa\n',
 '32,5.2,4.1,1.5,0.1,setosa\n',
 '33,5.5,4.2,1.4,0.2,setosa\n',
 '34,4.9,3.1,1.5,0.2,setosa\n',
 '35,5.0,3.2,1.2,0.2,setosa\n',
 '36,5.5,3.5,1.3,0.2,setosa\n',
 '37,4.9,3.6,1.4,0.1,setosa\n',
 '38,4.4,3.0,1.3,0.2,setosa\n',
 '39,5.1,3.4,1.5,0.2,setosa\n',
 '40,5.0,3.5,1.3,0.3,setosa\n',
 '41,4.5,2.3,1.3,0.3,setosa\n',
 '42,4.4,3.2,1.3,0.2,setosa\n',
 '43,5.0,3.5,1.6,0.6,setosa\n',
 '44,5.1,3.8,1.9,0.4,setosa\n',
 '45,4.8,3.0,1.4,0.3,setosa\n',
 '46,5.1,3.8,1.6,0.2,setosa\n',
 '47,4.6,3.2,1.4,0.2,setosa\n',
 '48,5.3,3.7,1.5,0.2,setosa\n',
 '49,5.0,3.3,1.4,0.2,setosa\n',
 '50,7.0,3.2,4.7,1.4,versicolor\n',
 '51,6.4,3.2,4.5,1.5,versicolor\n',
 '52,6.9,3.1,4.9,1.5,versicolor\n',
 '53,5.5,2.3,4.0,1.3,versicolor\n',
 '54,6.5,2.8,4.6,1.5,versicolor\n',
 '55,5.7,2.8,4.5,1.3,versicolor\n',
 '56,6.3,3.3,4.7,1.6,versicolor\n',
 '57,4.9,2.4,3.3,1.0,versicolor\n',
 '58,6.6,2.9,4.6,1.3,versicolor\n',
 '59,5.2,2.7,3.9,1.4,versicolor\n',
 '60,5.0,2.0,3.5,1.0,versicolor\n',
 '61,5.9,3.0,4.2,1.5,versicolor\n',
 '62,6.0,2.2,4.0,1.0,versicolor\n',
 '63,6.1,2.9,4.7,1.4,versicolor\n',
 '64,5.6,2.9,3.6,1.3,versicolor\n',
 '65,6.7,3.1,4.4,1.4,versicolor\n',
 '66,5.6,3.0,4.5,1.5,versicolor\n',
 '67,5.8,2.7,4.1,1.0,versicolor\n',
 '68,6.2,2.2,4.5,1.5,versicolor\n',
 '69,5.6,2.5,3.9,1.1,versicolor\n',
 '70,5.9,3.2,4.8,1.8,versicolor\n',
 '71,6.1,2.8,4.0,1.3,versicolor\n',
 '72,6.3,2.5,4.9,1.5,versicolor\n',
 '73,6.1,2.8,4.7,1.2,versicolor\n',
 '74,6.4,2.9,4.3,1.3,versicolor\n',
 '75,6.6,3.0,4.4,1.4,versicolor\n',
 '76,6.8,2.8,4.8,1.4,versicolor\n',
 '77,6.7,3.0,5.0,1.7,versicolor\n',
 '78,6.0,2.9,4.5,1.5,versicolor\n',
 '79,5.7,2.6,3.5,1.0,versicolor\n',
 '80,5.5,2.4,3.8,1.1,versicolor\n',
 '81,5.5,2.4,3.7,1.0,versicolor\n',
 '82,5.8,2.7,3.9,1.2,versicolor\n',
 '83,6.0,2.7,5.1,1.6,versicolor\n',
 '84,5.4,3.0,4.5,1.5,versicolor\n',
 '85,6.0,3.4,4.5,1.6,versicolor\n',
 '86,6.7,3.1,4.7,1.5,versicolor\n',
 '87,6.3,2.3,4.4,1.3,versicolor\n',
 '88,5.6,3.0,4.1,1.3,versicolor\n',
 '89,5.5,2.5,4.0,1.3,versicolor\n',
 '90,5.5,2.6,4.4,1.2,versicolor\n',
 '91,6.1,3.0,4.6,1.4,versicolor\n',
 '92,5.8,2.6,4.0,1.2,versicolor\n',
 '93,5.0,2.3,3.3,1.0,versicolor\n',
 '94,5.6,2.7,4.2,1.3,versicolor\n',
 '95,5.7,3.0,4.2,1.2,versicolor\n',
 '96,5.7,2.9,4.2,1.3,versicolor\n',
 '97,6.2,2.9,4.3,1.3,versicolor\n',
 '98,5.1,2.5,3.0,1.1,versicolor\n',
 '99,5.7,2.8,4.1,1.3,versicolor\n',
 '100,6.3,3.3,6.0,2.5,virginica\n',
 '101,5.8,2.7,5.1,1.9,virginica\n',
 '102,7.1,3.0,5.9,2.1,virginica\n',
 '103,6.3,2.9,5.6,1.8,virginica\n',
 '104,6.5,3.0,5.8,2.2,virginica\n',
 '105,7.6,3.0,6.6,2.1,virginica\n',
 '106,4.9,2.5,4.5,1.7,virginica\n',
 '107,7.3,2.9,6.3,1.8,virginica\n',
 '108,6.7,2.5,5.8,1.8,virginica\n',
 '109,7.2,3.6,6.1,2.5,virginica\n',
 '110,6.5,3.2,5.1,2.0,virginica\n',
 '111,6.4,2.7,5.3,1.9,virginica\n',
 '112,6.8,3.0,5.5,2.1,virginica\n',
 '113,5.7,2.5,5.0,2.0,virginica\n',
 '114,5.8,2.8,5.1,2.4,virginica\n',
 '115,6.4,3.2,5.3,2.3,virginica\n',
 '116,6.5,3.0,5.5,1.8,virginica\n',
 '117,7.7,3.8,6.7,2.2,virginica\n',
 '118,7.7,2.6,6.9,2.3,virginica\n',
 '119,6.0,2.2,5.0,1.5,virginica\n',
 '120,6.9,3.2,5.7,2.3,virginica\n',
 '121,5.6,2.8,4.9,2.0,virginica\n',
 '122,7.7,2.8,6.7,2.0,virginica\n',
 '123,6.3,2.7,4.9,1.8,virginica\n',
 '124,6.7,3.3,5.7,2.1,virginica\n',
 '125,7.2,3.2,6.0,1.8,virginica\n',
 '126,6.2,2.8,4.8,1.8,virginica\n',
 '127,6.1,3.0,4.9,1.8,virginica\n',
 '128,6.4,2.8,5.6,2.1,virginica\n',
 '129,7.2,3.0,5.8,1.6,virginica\n',
 '130,7.4,2.8,6.1,1.9,virginica\n',
 '131,7.9,3.8,6.4,2.0,virginica\n',
 '132,6.4,2.8,5.6,2.2,virginica\n',
 '133,6.3,2.8,5.1,1.5,virginica\n',
 '134,6.1,2.6,5.6,1.4,virginica\n',
 '135,7.7,3.0,6.1,2.3,virginica\n',
 '136,6.3,3.4,5.6,2.4,virginica\n',
 '137,6.4,3.1,5.5,1.8,virginica\n',
 '138,6.0,3.0,4.8,1.8,virginica\n',
 '139,6.9,3.1,5.4,2.1,virginica\n',
 '140,6.7,3.1,5.6,2.4,virginica\n',
 '141,6.9,3.1,5.1,2.3,virginica\n',
 '142,5.8,2.7,5.1,1.9,virginica\n',
 '143,6.8,3.2,5.9,2.3,virginica\n',
 '144,6.7,3.3,5.7,2.5,virginica\n',
 '145,6.7,3.0,5.2,2.3,virginica\n',
 '146,6.3,2.5,5.0,1.9,virginica\n',
 '147,6.5,3.0,5.2,2.0,virginica\n',
 '148,6.2,3.4,5.4,2.3,virginica\n',
 '149,5.9,3.0,5.1,1.8,virginica\n']

In [50]:
type(data)

list

In [51]:
data[0]

',sepal_length,sepal_width,petal_length,petal_width,species\n'

In [52]:
data[1]

'0,5.1,3.5,1.4,0.2,setosa\n'

In [67]:
split_data=readdata.split(',')
split_data

['',
 'sepal_length',
 'sepal_width',
 'petal_length',
 'petal_width',
 'species\n0',
 '5.1',
 '3.5',
 '1.4',
 '0.2',
 'setosa\n1',
 '4.9',
 '3.0',
 '1.4',
 '0.2',
 'setosa\n2',
 '4.7',
 '3.2',
 '1.3',
 '0.2',
 'setosa\n3',
 '4.6',
 '3.1',
 '1.5',
 '0.2',
 'setosa\n4',
 '5.0',
 '3.6',
 '1.4',
 '0.2',
 'setosa\n5',
 '5.4',
 '3.9',
 '1.7',
 '0.4',
 'setosa\n6',
 '4.6',
 '3.4',
 '1.4',
 '0.3',
 'setosa\n7',
 '5.0',
 '3.4',
 '1.5',
 '0.2',
 'setosa\n8',
 '4.4',
 '2.9',
 '1.4',
 '0.2',
 'setosa\n9',
 '4.9',
 '3.1',
 '1.5',
 '0.1',
 'setosa\n10',
 '5.4',
 '3.7',
 '1.5',
 '0.2',
 'setosa\n11',
 '4.8',
 '3.4',
 '1.6',
 '0.2',
 'setosa\n12',
 '4.8',
 '3.0',
 '1.4',
 '0.1',
 'setosa\n13',
 '4.3',
 '3.0',
 '1.1',
 '0.1',
 'setosa\n14',
 '5.8',
 '4.0',
 '1.2',
 '0.2',
 'setosa\n15',
 '5.7',
 '4.4',
 '1.5',
 '0.4',
 'setosa\n16',
 '5.4',
 '3.9',
 '1.3',
 '0.4',
 'setosa\n17',
 '5.1',
 '3.5',
 '1.4',
 '0.3',
 'setosa\n18',
 '5.7',
 '3.8',
 '1.7',
 '0.3',
 'setosa\n19',
 '5.1',
 '3.8',
 '1.5',
 '0.3',
 'setosa\n20',
 '5.4',
 '3.4',
 '1.7',
 '0.2',
 'setosa\n21',
 '5.1',
 '3.7',
 '1.5',
 '0.4',
 'setosa\n22',
 '4.6',
 '3.6',
 '1.0',
 '0.2',
 'setosa\n23',
 '5.1',
 '3.3',
 '1.7',
 '0.5',
 'setosa\n24',
 '4.8',
 '3.4',
 '1.9',
 '0.2',
 'setosa\n25',
 '5.0',
 '3.0',
 '1.6',
 '0.2',
 'setosa\n26',
 '5.0',
 '3.4',
 '1.6',
 '0.4',
 'setosa\n27',
 '5.2',
 '3.5',
 '1.5',
 '0.2',
 'setosa\n28',
 '5.2',
 '3.4',
 '1.4',
 '0.2',
 'setosa\n29',
 '4.7',
 '3.2',
 '1.6',
 '0.2',
 'setosa\n30',
 '4.8',
 '3.1',
 '1.6',
 '0.2',
 'setosa\n31',
 '5.4',
 '3.4',
 '1.5',
 '0.4',
 'setosa\n32',
 '5.2',
 '4.1',
 '1.5',
 '0.1',
 'setosa\n33',
 '5.5',
 '4.2',
 '1.4',
 '0.2',
 'setosa\n34',
 '4.9',
 '3.1',
 '1.5',
 '0.2',
 'setosa\n35',
 '5.0',
 '3.2',
 '1.2',
 '0.2',
 'setosa\n36',
 '5.5',
 '3.5',
 '1.3',
 '0.2',
 'setosa\n37',
 '4.9',
 '3.6',
 '1.4',
 '0.1',
 'setosa\n38',
 '4.4',
 '3.0',
 '1.3',
 '0.2',
 'setosa\n39',
 '5.1',
 '3.4',
 '1.5',
 '0.2',
 'setosa\n40',
 '5.0',
 '3.5',
 '1.3',
 '0.3',
 'setosa\n41',
 '4.5',
 '2.3',
 '1.3',
 '0.3',
 'setosa\n42',
 '4.4',
 '3.2',
 '1.3',
 '0.2',
 'setosa\n43',
 '5.0',
 '3.5',
 '1.6',
 '0.6',
 'setosa\n44',
 '5.1',
 '3.8',
 '1.9',
 '0.4',
 'setosa\n45',
 '4.8',
 '3.0',
 '1.4',
 '0.3',
 'setosa\n46',
 '5.1',
 '3.8',
 '1.6',
 '0.2',
 'setosa\n47',
 '4.6',
 '3.2',
 '1.4',
 '0.2',
 'setosa\n48',
 '5.3',
 '3.7',
 '1.5',
 '0.2',
 'setosa\n49',
 '5.0',
 '3.3',
 '1.4',
 '0.2',
 'setosa\n50',
 '7.0',
 '3.2',
 '4.7',
 '1.4',
 'versicolor\n51',
 '6.4',
 '3.2',
 '4.5',
 '1.5',
 'versicolor\n52',
 '6.9',
 '3.1',
 '4.9',
 '1.5',
 'versicolor\n53',
 '5.5',
 '2.3',
 '4.0',
 '1.3',
 'versicolor\n54',
 '6.5',
 '2.8',
 '4.6',
 '1.5',
 'versicolor\n55',
 '5.7',
 '2.8',
 '4.5',
 '1.3',
 'versicolor\n56',
 '6.3',
 '3.3',
 '4.7',
 '1.6',
 'versicolor\n57',
 '4.9',
 '2.4',
 '3.3',
 '1.0',
 'versicolor\n58',
 '6.6',
 '2.9',
 '4.6',
 '1.3',
 'versicolor\n59',
 '5.2',
 '2.7',
 '3.9',
 '1.4',
 'versicolor\n60',
 '5.0',
 '2.0',
 '3.5',
 '1.0',
 'versicolor\n61',
 '5.9',
 '3.0',
 '4.2',
 '1.5',
 'versicolor\n62',
 '6.0',
 '2.2',
 '4.0',
 '1.0',
 'versicolor\n63',
 '6.1',
 '2.9',
 '4.7',
 '1.4',
 'versicolor\n64',
 '5.6',
 '2.9',
 '3.6',
 '1.3',
 'versicolor\n65',
 '6.7',
 '3.1',
 '4.4',
 '1.4',
 'versicolor\n66',
 '5.6',
 '3.0',
 '4.5',
 '1.5',
 'versicolor\n67',
 '5.8',
 '2.7',
 '4.1',
 '1.0',
 'versicolor\n68',
 '6.2',
 '2.2',
 '4.5',
 '1.5',
 'versicolor\n69',
 '5.6',
 '2.5',
 '3.9',
 '1.1',
 'versicolor\n70',
 '5.9',
 '3.2',
 '4.8',
 '1.8',
 'versicolor\n71',
 '6.1',
 '2.8',
 '4.0',
 '1.3',
 'versicolor\n72',
 '6.3',
 '2.5',
 '4.9',
 '1.5',
 'versicolor\n73',
 '6.1',
 '2.8',
 '4.7',
 '1.2',
 'versicolor\n74',
 '6.4',
 '2.9',
 '4.3',
 '1.3',
 'versicolor\n75',
 '6.6',
 '3.0',
 '4.4',
 '1.4',
 'versicolor\n76',
 '6.8',
 '2.8',
 '4.8',
 '1.4',
 'versicolor\n77',
 '6.7',
 '3.0',
 '5.0',
 '1.7',
 'versicolor\n78',
 '6.0',
 '2.9',
 '4.5',
 '1.5',
 'versicolor\n79',
 '5.7',
 '2.6',
 '3.5',
 '1.0',
 'versicolor\n80',
 '5.5',
 '2.4',
 '3.8',
 '1.1',
 'versicolor\n81',
 '5.5',
 '2.4',
 '3.7',
 '1.0',
 'versicolor\n82',
 '5.8',
 '2.7',
 '3.9',
 '1.2',
 'versicolor\n83',
 '6.0',
 '2.7',
 '5.1',
 '1.6',
 'versicolor\n84',
 '5.4',
 '3.0',
 '4.5',
 '1.5',
 'versicolor\n85',
 '6.0',
 '3.4',
 '4.5',
 '1.6',
 'versicolor\n86',
 '6.7',
 '3.1',
 '4.7',
 '1.5',
 'versicolor\n87',
 '6.3',
 '2.3',
 '4.4',
 '1.3',
 'versicolor\n88',
 '5.6',
 '3.0',
 '4.1',
 '1.3',
 'versicolor\n89',
 '5.5',
 '2.5',
 '4.0',
 '1.3',
 'versicolor\n90',
 '5.5',
 '2.6',
 '4.4',
 '1.2',
 'versicolor\n91',
 '6.1',
 '3.0',
 '4.6',
 '1.4',
 'versicolor\n92',
 '5.8',
 '2.6',
 '4.0',
 '1.2',
 'versicolor\n93',
 '5.0',
 '2.3',
 '3.3',
 '1.0',
 'versicolor\n94',
 '5.6',
 '2.7',
 '4.2',
 '1.3',
 'versicolor\n95',
 '5.7',
 '3.0',
 '4.2',
 '1.2',
 'versicolor\n96',
 '5.7',
 '2.9',
 '4.2',
 '1.3',
 'versicolor\n97',
 '6.2',
 '2.9',
 '4.3',
 '1.3',
 'versicolor\n98',
 '5.1',
 '2.5',
 '3.0',
 '1.1',
 'versicolor\n99',
 '5.7',
 '2.8',
 '4.1',
 '1.3',
 'versicolor\n100',
 '6.3',
 '3.3',
 '6.0',
 '2.5',
 'virginica\n101',
 '5.8',
 '2.7',
 '5.1',
 '1.9',
 'virginica\n102',
 '7.1',
 '3.0',
 '5.9',
 '2.1',
 'virginica\n103',
 '6.3',
 '2.9',
 '5.6',
 '1.8',
 'virginica\n104',
 '6.5',
 '3.0',
 '5.8',
 '2.2',
 'virginica\n105',
 '7.6',
 '3.0',
 '6.6',
 '2.1',
 'virginica\n106',
 '4.9',
 '2.5',
 '4.5',
 '1.7',
 'virginica\n107',
 '7.3',
 '2.9',
 '6.3',
 '1.8',
 'virginica\n108',
 '6.7',
 '2.5',
 '5.8',
 '1.8',
 'virginica\n109',
 '7.2',
 '3.6',
 '6.1',
 '2.5',
 'virginica\n110',
 '6.5',
 '3.2',
 '5.1',
 '2.0',
 'virginica\n111',
 '6.4',
 '2.7',
 '5.3',
 '1.9',
 'virginica\n112',
 '6.8',
 '3.0',
 '5.5',
 '2.1',
 'virginica\n113',
 '5.7',
 '2.5',
 '5.0',
 '2.0',
 'virginica\n114',
 '5.8',
 '2.8',
 '5.1',
 '2.4',
 'virginica\n115',
 '6.4',
 '3.2',
 '5.3',
 '2.3',
 'virginica\n116',
 '6.5',
 '3.0',
 '5.5',
 '1.8',
 'virginica\n117',
 '7.7',
 '3.8',
 '6.7',
 '2.2',
 'virginica\n118',
 '7.7',
 '2.6',
 '6.9',
 '2.3',
 'virginica\n119',
 '6.0',
 '2.2',
 '5.0',
 '1.5',
 'virginica\n120',
 '6.9',
 '3.2',
 '5.7',
 '2.3',
 'virginica\n121',
 '5.6',
 '2.8',
 '4.9',
 '2.0',
 'virginica\n122',
 '7.7',
 '2.8',
 '6.7',
 '2.0',
 'virginica\n123',
 '6.3',
 '2.7',
 '4.9',
 '1.8',
 'virginica\n124',
 '6.7',
 '3.3',
 '5.7',
 '2.1',
 'virginica\n125',
 '7.2',
 '3.2',
 '6.0',
 '1.8',
 'virginica\n126',
 '6.2',
 '2.8',
 '4.8',
 '1.8',
 'virginica\n127',
 '6.1',
 '3.0',
 '4.9',
 '1.8',
 'virginica\n128',
 '6.4',
 '2.8',
 '5.6',
 '2.1',
 'virginica\n129',
 '7.2',
 '3.0',
 '5.8',
 '1.6',
 'virginica\n130',
 '7.4',
 '2.8',
 '6.1',
 '1.9',
 'virginica\n131',
 '7.9',
 '3.8',
 '6.4',
 '2.0',
 'virginica\n132',
 '6.4',
 '2.8',
 '5.6',
 '2.2',
 'virginica\n133',
 '6.3',
 '2.8',
 '5.1',
 '1.5',
 'virginica\n134',
 '6.1',
 '2.6',
 '5.6',
 '1.4',
 'virginica\n135',
 '7.7',
 '3.0',
 '6.1',
 '2.3',
 'virginica\n136',
 '6.3',
 '3.4',
 '5.6',
 '2.4',
 'virginica\n137',
 '6.4',
 '3.1',
 '5.5',
 '1.8',
 'virginica\n138',
 '6.0',
 '3.0',
 '4.8',
 '1.8',
 'virginica\n139',
 '6.9',
 '3.1',
 '5.4',
 '2.1',
 'virginica\n140',
 '6.7',
 '3.1',
 '5.6',
 '2.4',
 'virginica\n141',
 '6.9',
 '3.1',
 '5.1',
 '2.3',
 'virginica\n142',
 '5.8',
 '2.7',
 '5.1',
 '1.9',
 'virginica\n143',
 '6.8',
 '3.2',
 '5.9',
 '2.3',
 'virginica\n144',
 '6.7',
 '3.3',
 '5.7',
 '2.5',
 'virginica\n145',
 '6.7',
 '3.0',
 '5.2',
 '2.3',
 'virginica\n146',
 '6.3',
 '2.5',
 '5.0',
 '1.9',
 'virginica\n147',
 '6.5',
 '3.0',
 '5.2',
 '2.0',
 'virginica\n148',
 '6.2',
 '3.4',
 '5.4',
 '2.3',
 'virginica\n149',
 '5.9',
 '3.0',
 '5.1',
 '1.8',
 'virginica\n']

In [66]:
len(split_data)

7